{{include file='common/head.html'}}
<div align="center">
  <form  name='reg' action="?c=agent&a=addAgent&id={{$agent[0].id}}" method='post'>
<div class="head_block tb_wid">&nbsp;增加代理级别:</div>
<div class="block tb_wid">
 <table id="table_2" cellpadding="0" cellspacing="1">
 	{{if $edit}}
 	  <tr>
        <td class="td_bgc right_2">代理ID:</td> 
        <td class="td_bgc right_2">{{$agent[0].id}}</td>
       </tr>
       {{/if}}
       
       <tr>
        <td class="td_bgc right_2" valign="top">代理名称:</td>
        <td class="td_bgc right_2">
       <input name="name" type="text" size="25" value="{{$agent[0].name}}" />
       	</td>
     	</tr>
      <tr>
	    <td class="td_bgc td_hg" colspan="2" align="center">
		 <input type="submit" value="确认" />
		</td>
      </tr>
      
    </table>
	</div>
	</form>
</div>