{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：系统设置 --> 首页设置</div>
		<table class="table_main2" cellpadding="0" cellspacing="1">
			<tr>
				<td colspan="3" class="bg_main"><a href="?c=agent&a=addAgentFrom"><b>[增加代理级别]</b></a></td>
			</tr>
			<tr id="bg_yellow">
				<td class="wid_general">操作</td>
				<td>代理id号</td>
				<td>代理名称</td>
			</tr>
				{{for $i=0;$i< count($agents);$i++}}
			<tr>
				<td>
					[<a href='javascript:if(confirm("真的要删除?")){ window.location="?c=agent&a=delAgent&id={{$agents[$i].id}}";}'>删除</a>]
					[<a href="?c=agent&a=addAgentFrom&id={{$agents[$i].id}}">修改</a>]
				</td>
				<td>{{$agents[$i].id}}</td>
				<td>{{$agents[$i].name}}</td>
				{{/for}}
			</tr>
		</table>
	</div>
</div>
</body>
</html>