<div class="right" align="center">
	<div class="wid_ri r_mar" ><img src="{{$STATIC}}style/use_cio.jpg" width="750" height="85"  border="0"/></div>
	<div class="wid_ri r_mar" align="right">
	  <table id="table_ri" cellpadding="0" cellspacing="1">
		 <tr><td colspan="2" class="red"><b>在线提问</b></td></tr>
		  <tr>
			<td>提问标题:</td> 
			<td class="wid3">{{$log.title}}</td>
			</tr>
		   <tr>
			<td>提问内容:</td>
			<td>{{$log.body}}</td>
			</tr>
		  <tr>
			<td>管理员回复:</td>
			<td>{{$log.reply}}</td>
			</tr>
			{{if $log.reply_time!=""}}
			 <tr>
			<td>回复时间:</td>
			<td>{{$log.reply_time}}</td>
			</tr>
			{{/if}}
    	</table>
	</div>
</div>
{{include file='common/foot.html'}}
