<div class="right" align="center">
<div class="wid_ri r_mar" align="right">
	<div align="right">
	<table id="table_2" border="0" cellpadding="0" cellspacing="0">
	<form action='?c=question&a=pageByUser' method='post'>
		<tr>
			<td align="left" class="right">
				[<a href="?c=question&a=addFrom" target="{{$target}}"><span class="font_1">在线提问</span></a>]
			</td>
			<td>
				 <select name='sortname' onChange="submit()">
				 <option value='2' {{if $sortname==2}}selected{{/if}}>全部</option>
				 <option value='1' {{if $sortname==1}}selected{{/if}}>未回复</option>
				 </select>
			</td>
			<td align="right">
			{{if $page>1}}
			<a href='?c=question&a=pageByuser&sortname={{$smarty.request.sortname}}&page=0'>首页</a> 
			<a href='?c=question&a=pageByuser&sortname={{$smarty.request.sortname}}&page={{$page-1}}'>上一页</a> 
				{{else}}
				首页 上一页 
				{{/if}}
				{{if $page!=$total_page}} 
				<a href='?c=question&a=pageByuser&sortname={{$smarty.request.sortname}}&page={{$page+1}}'>下一页</a>
				<a href='?c=question&a=pageByuser&sortname={{$smarty.request.sortname}}&page={{$total_page}}'>尾页</a>
				{{else}}下一页 尾页
				{{/if}} 
				{{$page}}/{{$total_page}}&nbsp;
				共计{{$count}}记录
			</td>
		</tr>
		</form>
	</table>
	</div>
	<table id="table_ri" cellpadding="0" cellspacing="1">
			<tr>
				<td>操作</td>
				<td>标题</td>
				<td>提问时间</td>	
				<td>回复时间</td>
				<td>状态</td>
				</tr>
				{{foreach from=$list item=row}}
			<tr>
				<td>[<a href='?c=question&a=getQuestion&id={{$row.id}}'>详细</a>]</td>
				<td>{{substr($row.title,0,30)}}</td>
				<td>{{$row.add_time}}</td>
				<td>{{$row.reply_time}}</td>
				<td>{{if $row.status==1}}已回复{{else}} <font color=red>未回复</font>{{/if}}</td>
				</tr>
				{{/foreach}}
	  </table>

</div>

