	<table cellpadding="1" cellspacing="1" border="1">
	<form id="form1" name="form1" method="post" action="">
	  <tr>
		<td>请选择你要安装的程序</td>
		<td><select name="birth_year">
			<option selected="selected" value="">请选择</option> 
			<option value="phpwin">phpwin</option>
			<option value="discuz">discuz</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<td>输入您的域名</td>
		<td class="td_bgc right_2"><input name="" type="text" /></td>
	  </tr>
	  <tr>
		<td>输入您程序的安装目录</td><td class="td_bgc right_2"><input name="" type="text" /></td>
	  </tr>
	 </form>
	</table>


