<div class="height_t"><table id="table_r"><tr><td height="5"></td></tr></table></div>
<div align="center" class="right">
	<table id="table_news" cellpadding="0" cellspacing="0" >
		<tr>
			<td colspan="2" background="{{$STATIC}}images/nav_bg.jpg" class="right_hg right fontcolor">
				当前位置 : <a href="/">首页</a> >> <a href="?c=public&a=contact">联系我们</a>
			</td>
		</tr>
		<tr><td colspan="2" height="5"></td></tr>
		<tr>
			<td height="173" valign="top"><img src="{{$STATIC}}/images/aboutus.jpg" /></td>
		</tr>
		<tr>
			<td height="479" background="{{$STATIC}}/images/Cloud_host_info_bg.jpg" valign="top">
			<!--客服代码开始-->
				<table cellspacing="10" width="100%">
					<tr><td align="left"><img src="{{$STATIC}}/images/info_Title_pic_contact.jpg" /></td></tr>
					<tr><td class="right_h" align="left" height="30">
						<p> 南昌邦腾科技有限公司<br/>
							客服电话：0791-88355247<br />
							地址：江西省南昌市京东小区G18栋<br />
							邮编：330029<br />
							E-mail：smilefly99@126.com<br />
						</p>
						<p>
							销售QQ：86995537&nbsp;&nbsp; 5968629&nbsp;&nbsp;13062849<br>
							<br />
							销售QQ :&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=86995537&site=qq&menu=yes">
							<img border="0" src="http://wpa.qq.com/pa?p=2:86995537:42" alt="请联系客服QQ" title="请联系客服QQ"></a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							销售QQ :&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=5968629&site=qq&menu=yes">
							<img border="0" src="http://wpa.qq.com/pa?p=2:5968629:42" alt="请联系客服QQ" title="请联系客服QQ"></a><br />
							销售QQ :&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=13062849&site=qq&menu=yes">
							
							<img border="0" src="http://wpa.qq.com/pa?p=2:13062849:42" alt="请联系客服QQ" title="请联系客服QQ"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;技术支持QQ :&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1669280222&site=qq&menu=yes">
							<img border="0" src="http://wpa.qq.com/pa?p=2:1669280222:42" alt="请联系客服QQ" title="请联系客服QQ"></a><br />
						</p>
					</td></tr>
			  </table>
			  <!--客服代码开始-->
			</td>
		</tr>
  </table>
</div>