<style type='text/css'>
.findpasswd {
}
.find_text {
	padding-top:20px;
	height:30px;
	font-size:20;
}
.find_text input{
	height:30px;
	font-size:20;
}
</style>	
	
	
<div align="center" class="findpasswd">
	<form  name='reg' action="?c=public&a=findPasswd" method='post'>
		<div class='find_img'><img src='{{$STATIC}}images/findpasswd.jpg'></div>
		<div class='find_text'>用户名&nbsp;&nbsp;&nbsp;:<input name='username'  size="24"/>&nbsp;*</div>
		<div class='find_text'>注册邮箱:<input name='email' size="24"/>&nbsp;*</div>
		<div class='find_text'><input type="submit"  value="密码找回"></div>
	</form>
</div>
