<div align="center">
<div class="foot">
   <div class="fl_le"><img src="/user{{$STATIC}}images/foot1.jpg"></div>
   <div class="footmid">
		<div class="wordlink">
			 <table border="0" cellspacing="7" width="100%">
				 <tr>
					<td bgcolor="#F7F4F1" class="right" valign="middle" height="40"><span>友情合作：</span>
						<span class="right"><a href="http://www.kanglesoft.com/" title="http://www.kanglesoft.com" target="_blank">kangle</a></span>
						<span class="right"><a href="http://www.kanglesoft.com/" title="http://www.kanglesoft.com" target="_blank">easypanel</a></span>
						<span class="right"><a href="http://www.kanglesoft.com/" title="http://www.kanglesoft.com" target="_blank">vhms</a></span>
					</td>
				 </tr>
			</table>
      </div>
			<table>
				<tr>
					<td align="center">
					  | 关于我们 
					  | 广告服务
					  | 付款方式 
					  | 友情连接 
					  | 
					  <div align="center">Powered by JanBao vhs and <a href='http://www.kanglesoft.com/'>kangle</a></div>
					</td>
				</tr>
			</table>

   </div>
   <div class="fl_ri"><img src="/user{{$STATIC}}images/foot2.jpg"></div>
</div>
</div>

