{{include file='common/head.html'}}
<body>
<table width="{{$width}}" height="20" border="0" align="center" cellPadding=0 cellSpacing=0>
  <tr><form id="form1" name="form1" method="post" action="?c=session&a=login" >
    <td valign="middle">
	{{if $role.user}}{{$role.user}},您好!  [<a href='?c=user&a=index'>进入会员中心</a>] [<a href='?c=session&a=logout'>退出</a>]{{else}}
      用户名:
      <input name="username" type="text" size="12" />
        密码:
        <input name="passwd" type="password" size="12" />
        <input type="submit" name="Submit" value="登录" />
        <a href="?c=public&a=registerForm"><font color='red'>注册</font></a>
    忘记密码 
   
	{{/if}}
    </td> </form>
    <td align="right" valign="middle"><script language="javascript" src="?c=product&a=productList&target=self">
</script></td>
  </tr>
</table>
<table width='{{$width}}' border="0" align="center">
<tr>
<td width="120"><img src='{{$STATIC}}/style/logo.gif' border="0"/></td>
<td width="650">banner</td>
</tr></table>
<table width="{{$width}}" border="0" align="center">
  <tr><td>
   {{foreach from=$menus item=menu}}
    <a href="{{$menu.1}}">{{$menu.0}}</a>|
   {{/foreach}}
  </td>
  </tr>
</table>
