<div class="height_t"><table id="table_r"><tr><td height="5"></td></tr></table></div>
<div align="center" class="right">
<table cellpadding="0" cellspacing="1" id="table_news">
  <tr>
    <td align="center"><strong>会员注册条款</strong></td>
  </tr>
  <tr>
    <td>一、服务条款的确认和接纳<br />
		{{$setting.web_name.value}}服务的所有权和运作权归{{$setting.web_name.value}}网所有。所提供的服务按照国家发布的相关法律、法规、规章、规范性文件 操作规则严格执行。用户通过完成注册程序并“接受”注册服务协议，表示用户与{{$setting.web_name.value}}网达成协议并接受所有的服务条款。<br />
		二、服务简介<br />
		{{$setting.web_name.value}}网通过国际互联网为用户提供各项服务。<br />
		用户必须考虑到{{$setting.web_name.value}}网服务的重要性，用户同意：<br />
		①及时提供、详尽及准确的个人资料。<br />
		②不断更新注册资料，符合及时、详尽、准确的要求。所有原始键入的资料将引用为注册资料。<br />
		③相应的法律、法规要求及程序服务需要{{$setting.web_name.value}}网提供用户的个人资料。<br />
		④用户在此授权{{$setting.web_name.value}}网可以向其电子邮箱发送商业或广告信息。<br />
		如果用户提供的资料不准确，不真实，不合法有效，{{$setting.web_name.value}}网保留结束用户使用各项服务的权利。 <br />
		用户在享用{{$setting.web_name.value}}网各项服务的同时，同意接受{{$setting.web_name.value}}网提供的各类信息或广告服务。<br />
		三、服务条款的修改<br />
		{{$setting.web_name.value}}网拥有在不事先通知的情况下，修改注册服务协议的权力，修改后的协议对自改变之日起对所有用户生效。
		用户要继续使用{{$setting.web_name.value}}网各项服务需要两方面的确认：    <br />
		①首先确认{{$setting.web_name.value}}网服务条款及其变动。<br />
		②同意接受所有的服务条款限制。<br />
		四、服务修订<br />
		{{$setting.web_name.value}}网保留随时修改或中断服务而不需通知用户的权利。用户接受{{$setting.web_name.value}}网行使修改或中断服务的权利，{{$setting.web_name.value}}网不需对用户或第三方负责。<br />
		五、用户隐私制度<br />
		尊重用户个人隐私是{{$setting.web_name.value}}网的一项基本政策。{{$setting.web_name.value}}网不会公开、编辑或透露用户的注册资料及保存在{{$setting.web_name.value}}网各项服务中的非公开内容，除非{{$setting.web_name.value}}网在诚信的基础上认为透露这些信息在以下几种情况是必要的：<br />
		①遵守有关法律规定，包括在国家有关机关查询时，提供用户在{{$setting.web_name.value}}网的网页上发布的信息内容及其发布时间、互联网地址或者域名。<br />
		②遵从{{$setting.web_name.value}}网服务程序。<br />
		③在紧急情况下竭力维护用户个人和社会大众的隐私安全。<br />
		六、用户的帐号、密码和安全性<br />
		您一旦注册成功成为用户，您将得到一个密码和帐号。如果您未保管好自己的帐号和密码而对您、{{$setting.web_name.value}}网或第三方造成的损害，您将负全部责任。另   外，每个用户都要对其帐户中的所有活动和事件负全责。您可随时改变您的密码和图标，也可以结束旧的帐户重开一个新帐户。用户同意若发现任何非法使用用户帐 <br />
		号或安全漏洞的情况，立即通告{{$setting.web_name.value}}网。<br />
		七、拒绝提供担保<br />
		{{$setting.web_name.value}}网明确表示不提供任何类型的担保，不论是明确的或隐含   的。{{$setting.web_name.value}}网不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务   的及时性、安全性、出错发生都不作担保。{{$setting.web_name.value}}网拒绝提供任何担保，包括信息能否准确、及时、顺利地传送。用户理解并接受下载或通过{{$setting.web_name.value}}网服务取得  的任何信息资料取决于用户自己，并由其承担系统受损或资料丢失的所有风险和责任。{{$setting.web_name.value}}网对在服务网上得到的任何商品购物服务   或交易进程，都不作担保。<br />
		八、有限责任<br />
		{{$setting.web_name.value}}网对直接、间接、偶然、特殊及继起的损害不负责任。这些损害来自：不正当使用产品服务，在网上购买商品或类似服务，在网上进行交易，非法 使用服务或用户传送的信息有所变动。这些损害会导致{{$setting.web_name.value}}网形象受损，所以{{$setting.web_name.value}}网早已提出这种损害的可能性。<br />
		九、不提供零售和商业性服务<br />
		用户使用{{$setting.web_name.value}}网各项服务的权利是个人的。用户只能是一个单独的个体而不能是一个公司或实体的商业性组织。用户承诺不经{{$setting.web_name.value}}网同意，不能利用{{$setting.web_name.value}}网各项服务进行销售或其他商业用途。<br />
		十、用户管理<br />
		用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户承诺：<br />
		1.在{{$setting.web_name.value}}网的网页上发布信息或者利用{{$setting.web_name.value}}网的服务时必须符合中国有关法规，不得在{{$setting.web_name.value}}网的网页上或者利用{{$setting.web_name.value}}网的服务制作、复制、发布、传播以下信息。<br />
		①反对宪法所确定的基本原则的；<br />
		②危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br />
		③损害国家荣誉和利益的；<br />
		④煽动民族仇恨、民族歧视，破坏民族团结的；<br />
		⑤破坏国家宗教政策，宣扬邪教和封建迷信的；<br />
		⑥散布谣言，扰乱社会秩序，破坏社会稳定的；<br />
		⑦散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br />
		⑧侮辱或者诽谤他人，侵害他人合法权益的；<br />
		⑨含有法律、行政法规禁止的其他内容的。<br />
		2.在{{$setting.web_name.value}}网的网页上发布信息或者利用{{$setting.web_name.value}}网的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。<br />
		3.不利用{{$setting.web_name.value}}网的服务从事以下活动：<br />
		①未经允许，进入计算机信息网络或者使用计算机信息网络资源的；<br />
		②未经允许，对计算机信息网络功能进行删除、修改或者增加的；<br />
		③未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br />
		④故意制作、传播计算机病毒等破坏性程序的；<br />
		⑤其他危害计算机信息网络安全的行为。<br />
		4.不以任何方式干扰{{$setting.web_name.value}}网的服务。<br />
		5.遵守{{$setting.web_name.value}}网的所有其他规定和程序。<br />
		用户需对自己在使用{{$setting.web_name.value}}网服务过程中的行为承担法律责任。用户理解，如果{{$setting.web_name.value}}网发现其网站传输的信息明显属于上段第1条所列内容   之一，依据中国法律，{{$setting.web_name.value}}网网有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。<br />
		十一、保障<br />
		用户同意保障和维护{{$setting.web_name.value}}网全体成员的利益，负责支付由用户使用超出服务范围引起的律师费用，违反服务条款的损害补偿费用，其他人使用用户的电脑、帐号和其他知识产权的追索费。<br />
		十二、结束服务<br />
		用户或{{$setting.web_name.value}}网可随时根据实际情况中断服务。{{$setting.web_name.value}}网不需对任何个人或第三方负责而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或{{$setting.web_name.value}}网服务不满，用户只有以下的追索权：<br />
		①不再使用{{$setting.web_name.value}}网服务。<br />
		②结束用户使用{{$setting.web_name.value}}网服务的资格。<br />
		③通告{{$setting.web_name.value}}网停止该用户的服务。<br />
		结束用户服务后，用户使用{{$setting.web_name.value}}网服务的权利马上中止。从那时起，{{$setting.web_name.value}}网不再对用户承担任何义务。<br />
		十三、通告<br />
		所有发给用户的通告可通过电子邮件或网站公告传送。<br />
		十四、法律<br />
		用户和{{$setting.web_name.value}}网一致同意有关本协议以及使用{{$setting.web_name.value}}网的服务产生的争议交由仲裁解决，但是{{$setting.web_name.value}}有权选择采取诉讼方式，并有权选择受理该诉讼的有管辖权的法院。
		</td>
	</tr>
</table>
</div>
