<div class="right" align="center">
<div class="wid_ri r_mar" ><img src="{{$STATIC}}style/yfk_cio.jpg" width="750" height="85"  border="0"/></div>
<div class="wid_ri r_mar" align="right">
	<div class="r_mar_top" align="right">
		{{if $page>1}}
		<a href='?c=public&a=pageListNews&page=0'>首页</a> 
		<a href='?c=public&a=pageListNews&page={{$page-1}}'>上一页</a> 
		{{else}}
		首页 上一页 
		{{/if}}
		{{if $page!=$total_page}} 
		<a href='?c=public&a=pageListNews&page={{$page+1}}'>下一页</a>
		<a href='?c=public&a=pageListNews&page={{$total_page}}'>尾页</a>
		{{else}}下一页 尾页
		{{/if}} 
		{{$page}}/{{$total_page}}&nbsp;
		共计{{$count}}记录
	</div>
	<table id="table_ri" cellpadding="0" cellspacing="1">
		<tr>
			<td>公告标题</td>
			<td>公告内容</td>
			<td>发布时间</td>	
		</tr>
			{{foreach from=$list item=row}}
		<tr>
			<td>{{$row.title}}元</td>
			<td>{{$row.body}}</td>
			<td>{{$row.add_time}}</td>
			</tr>
			{{/foreach}}
	  </table>
	  
	  <div class="r_mar_top" align="right">
		{{if $page>1}}
		<a href='?c=public&a=pageListNews&page=0'>首页</a> 
		<a href='?c=public&a=pageListNews&page={{$page-1}}'>上一页</a> 
		{{else}}
		首页 上一页 
		{{/if}}
		{{if $page!=$total_page}} 
		<a href='?c=public&a=pageListNews&page={{$page+1}}'>下一页</a>
		<a href='?c=public&a=pageListNews&page={{$total_page}}'>尾页</a>
		{{else}}下一页 尾页
		{{/if}} 
		{{$page}}/{{$total_page}}&nbsp;
		共计{{$count}}记录
	</div>
	</div>
</div>


