<script language='javascript'>
function check_user()
{
	var username  = document.reg.username.value;
	if (username == "") {
		alert("用户名不能为空");
		return ;
	}
	var url = '?c=public&a=ajaxCheckUser&username=' + username;
	$.get(url,function(msg){
		alert(msg);
		
	});
}

</script>
<style type='text/css'>
.public_reg {
	padding-top:20px;
}
.public_reg_img {
	padding-top:20px;
}
.public_reg_info {
	padding-left:120px;
	padding-top:20px;
}
.public_reg_info div {
	padding-top:20px;
	font-size:20;
}
.public_reg_info input {
	height:30px;
	font-size:20;
	
}
.reg_submit {
	padding-left:280px;
}
.reg_left {
	float:left;
	text-align:left;
	width:120px;
}
.reg_center {
}
.reg_input {
	background-position:0 -120px;
	color:rgb(255,76,100);
	font-weight:bold;
	 background-image:url('{{$STATIC}}/images/loginbg.jpg');
}
</style>

<div class='public_reg'>
	<div class='public_reg_fir'>当前位置 : <a href="/">首页</a> >> <a href="?c=public&a=register_n">用户注册</a></div>
	<div class='public_reg_img'><img src='{{$STATIC}}/images/reg3.jpg'></div>
	<form  name='reg' action="?c=public&a=register&external=1" method='post'>
	<div class='public_reg_info'>
		<div class='reg_left'>用户:</div> 		<div class='reg_center'><input name='username' size="24"/>&nbsp;*<input type="button" name="Submit" value="检测用户名" onClick="check_user()"></div>
		<div class='reg_left'>密码：</div> 		<div class='reg_center'><input name='passwd' type='password' size="24"/>&nbsp;*</div>
		<div class='reg_left'>确认密码:</div>		<div class='reg_center'><input name='passwd2' type='password' size="24"/>&nbsp;*</div>
		<div class='reg_left'>电子邮箱:</div>		<div class='reg_center'><input name='email' size="24"/>&nbsp;*</div>
		<div class='reg_left'>真实姓名:</div>		<div class='reg_center'><input name='name' size="24"/>&nbsp;*</div>
		<div class='reg_left'>身份证号码:</div>	<div class='reg_center'><input name='ids' size="24"/>&nbsp;*</div>
		<div class='reg_left'>注册协议:</div>		<div class='reg_center'><input name="agree" type="checkbox" value="1">我已阅读并同意<a href='?c=public&a=registerPact' target="_blank">注册协议</a> </div>
		<div class='reg_left'>&nbsp;</div>		<div class='reg_submit'><input class='reg_input' type="button" onClick="check_register()" value="注册"><input class='reg_input' type='reset' value='重置'> </div>
	</div>
	</form>
</div>

<script language="javascript">
function show(url) 
{ 
	window.open(url,'','height=100,width=250,resize=no,scrollbars=no,toolsbar=no,top=200,left=200');
}
function check_register()
{
	if(document.reg.username.value.length<3){
		alert('用户名长度最小为3个字母');
		return false;
	}
	if(document.reg.passwd.value.length<5){
		alert('密码长度最小要6位');
		return false;
	}
	if(document.reg.passwd.value!=document.reg.passwd2.value){
		alert('两次密码不对');
		return false;
	}
	if(document.reg.email.value==""){
		alert('电子邮件不能为空');
		return false;
	}
	if(!document.reg.agree.checked){
		alert('您还没有同意注册协议');
		return false;
	}
	document.reg.submit();
}
</script>