<script language="javascript">
function show(url) 
{ 
	window.open(url,'','height=100,width=250,resize=no,scrollbars=no,toolsbar=no,top=200,left=200');
}
function check_user()
{
	show('?c=public&a=checkUser&username='+document.reg.username.value);
}
function check_register()
{
	if(reg.username.value.length<3){
		alert('用户名长度最小为3个字母');
		return false;
	}
	if(reg.passwd.value.length<5){
		alert('密码长度最小要6位');
		return false;
	}
	if(reg.passwd.value!=reg.passwd2.value){
		alert('两次密码不对');
		return false;
	}
	if(reg.email.value==""){
		alert('电子邮件不能为空');
		return false;
	}
	if(!reg.agree.checked){
		alert('您还没有同意注册协议');
		return false;
	}
	reg.submit();
}
</script>
<div id="container">
<div class="topimg">当前位置：用户管理 -> 增加用户</div>
<div class="topimg"></div>
  <div id="main" class="wid">
  <form  name='reg' action="?c=public&a=register" method='post'>
    <table align="center" border="0" cellpadding="0" cellspacing="10" width="80%">
<tr>
  <td>
     <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#C2DADA">
       <tr>
  <td height="30" bgcolor="#51A3EC"><font color="#FFFFFF">　增加用户</font></td>
	</tr>
	</table>
	</td>
</tr>
  <tr>
    <td>
<table bgcolor="#CEE1F3" border="0" cellspacing="1" width="100%">
  <tr>
    <td bgcolor="#ffffff" width="9%" height="30">
<table width="100%" height="300" border="0" cellpadding="0" cellspacing="1" bgcolor="#e6f4f9">
      <tr>
        <td bgcolor="#f5f5f5" colspan="3">&nbsp;</td>
        </tr>
      <tr>
        <td bgcolor="#f5f5f5" width="172">　<span class="color01 right">用户名</span>：</td>
        <td width="473" bgcolor="#fafaf5">
          <input name='username' type='text' id='username' onBlur="checkUsername();" value="" size="16"/><span class="STYLE1"><span class="color01 right">*</span>
		  </span>
           <input type="button" name="Submit" value="检测用户名" onClick="check_user()"></td>
        <td width="298" bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5"><span class="color01 right">　密码：</span></td>
        <td bgcolor="#fafaf5"><input name='passwd' type='password' id='passwd' value="" size="16"/><span class="STYLE1"><span class="color01 right">*</span></span></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5">　<span class="color01 right">确认密码：</span></td>
        <td bgcolor="#fafaf5"><input name='passwd2' type='password' id='passwd2'  value="" size="16"/><span class="STYLE1"><span class="color01 right">*</span></span>
		</td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5"><span class="color01 right">　电子邮件</span></td>
        <td bgcolor="#fafaf5"><input name='email' type='text' id='email' value="" size="16"/><span class="STYLE1"><span class="color01 right">*</span></span></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5"><span class="color01 right">　真实姓名</span></td>
        <td bgcolor="#fafaf5"><input name='name' type='text' id='name'  value="" size="16"/></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5"><span class="color01 right">　身份证</span></td>
        <td bgcolor="#fafaf5"><input type='text' name='id' id='id' value="" /></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5">&nbsp;</td>
        <td bgcolor="#fafaf5"><input name="agree" type="checkbox" id="agree" value="1">
	      我已阅读并同意<a href="?c=">注册协议</a></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#f5f5f5">&nbsp;</td>
        <td bgcolor="#fafaf5"><button type="button" onClick="check_register()">注册</button></td>
        <td bgcolor="#fafaf5">&nbsp;</td>
      </tr>
	    <tr>
        <td bgcolor="#f5f5f5" colspan="3">&nbsp;</td>
        </tr>
    </table></td>
      </tr>
    </table></td>
  </tr>
</table>
	<div>
	<!--S 协议--><!--E 协议-->
	</div>
	</form>
  </div>
</div>
