<script language='javascript' src='{{$PSTATIC}}/style/common.js'>
</script>
<script language="javascript">
function show(url) 
{ 
	window.open(url,'','height=100,width=250,resize=no,scrollbars=no,toolsbar=no,top=200,left=200');
}
function checkUserResult()
{
	if (xmlhttp.readyState==4) {
		var ret = 0;
		var msg = '';
		try{
			if(xmlhttp.status == 200){		
				var dataArray = xmlhttp.responseXML.getElementsByTagName('result');
				ret = dataArray[0].getAttribute('ret');
				msg = dataArray[0].getAttribute('msg');
				if(ret=='1'){
					msg = "用户名可用";
				}
				xxkf_obj('check_result').innerHTML = msg;
			}
		}catch(e){}
	}
}
function check_user()
{
	var url = '?c=public&a=ajaxCheckUser&username=' + document.reg.username.value;
	xxkf_obj('check_result').innerHTML="<img src='{{$PSTATIC}}/style/busy.gif'/>";
	xmlhttp = create_xmlhttp();	
	xmlhttp.open("GET",url,true);
	xmlhttp.onreadystatechange=checkUserResult;
	xmlhttp.send(null);
}
function check_register()
{
	if(reg.username.value.length<3){
		alert('用户名长度最小为3个字母');
		return false;
	}
	if(reg.passwd.value.length<6){
		alert('密码长度最小要6位');
		return false;
	}
	if(reg.ids.value.length>18){
		alert('身份证输入错误');
		return false;
	}
	if(reg.ids.value.length<15){
		alert('身份证输入错误');
		return false;
	}
	if(reg.passwd.value!=reg.passwd2.value){
		alert('两次密码不对');
		return false;
	}
	if(reg.email.value==""){
		alert('电子邮件不能为空');
		return false;
	}
	if(!reg.agree.checked){
		alert('您还没有同意注册协议');
		return false;
	}
	reg.submit();
}
</script>
<div align="center">
  <form  name='reg' action="?c=public&a=register" method='post'>
<div class="head_block tb_wid">&nbsp;注册用户</div>
<div class="block tb_wid">
<table id="table_2" cellpadding="0" cellspacing="1">
      <tr>
        <td class="td_bgc right_2">用户：</td>
        <td class="td_bgc right_2 tb_wid4">
        <table width='100%' border='0' cellpadding="0" cellspacing="0">
        <tr><td width="45%">
         <input name='username' type='text' id="tb_wid3" value="" size="16" onblur="check_user()"/><span class="color01 right"><font color="red">*</font></span>
         </td><td align="left"><div id='check_result'></div></td></tr></table>
         </td>
        </tr>
      <tr>
        <td class="td_bgc right_2">密码：</td>
        <td class="td_bgc right_2"><input name='passwd' type='password' id="tb_wid3" value="" size="16"/><span class="color01 right"><font color="red">*</font></span>        </td>
      </tr>
      <tr>
        <td class="td_bgc right_2">确认密码：</td>
        <td class="td_bgc right_2"><input name='passwd2' type='password' id="tb_wid3"  value="" size="16"/><span class="color01 right"><font color="red">*</font></span>        </td>
        </tr>
	  <tr>
        <td class="td_bgc right_2">电子邮件:</td>
        <td class="td_bgc right_2"><input name='email' type='text' id="tb_wid3" value="" size="16"/><span class="color01 right"><font color="red">*</font></span>
		</td>
        </tr>
	  <tr>
        <td class="td_bgc right_2">真实姓名:</td>
        <td class="td_bgc right_2"><input name='name' type='text' id="tb_wid3"  value="" size="16"/><span class="color01 right"><font color="red">*</font></span>
        </td>
       </tr>
	  <tr >
        <td class="td_bgc right_2">身份证:</td>
        <td class="td_bgc right_2"><input type='text' name='ids' id="tb_wid3" value="" /><span class="color01 right"><font color="red">*</font></span>
        </td>
        </tr>
	  <tr>
         <td class="td_bgc td_hg" colspan="2" align="center"><input name="agree" type="checkbox" value="1">
	      我已阅读并同意<a href="?c=">注册协议</a></td>
        </tr>
	    <tr>
	    <td class="td_bgc td_hg" colspan="2" align="center">
		 <input type="button" onClick="check_register()" value="注册">
		</td>
        </tr>
    </table>
	</div>
	</form>
</div>
