<div class="height_t"><table id="table_r"><tr><td height="5"></td></tr></table></div>
<div align="center">
	<table id="table_news" cellpadding="0" cellspacing="0">
	 <tr>
	 	<td align="center" class="left_service_color f_size"><b>{{$new.title}}</b></td></tr>
	 <tr>
	 <tr><td background="/user{{$STATIC}}/images/newline.jpg" height="6"></td></tr>
	 <tr><td class="right_n right_hg2">更新时间 : {{$new.add_time}}</td></tr>
	 <td class="td_bgc right_2 heig_news" valign="top">{{$new.body}}</td>
	 </tr>
  </table>
</div>
