.head_block {
	border: 1px solid #0099FF;
	border-bottom-width:0px;
	background-color:#51A3EC;
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
	/* 表格居中 */
	margin-top:6px;
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
.head_block2 {
	border: 1px solid #0099FF;
	border-bottom-width:0px;
	background-color:#51A3EC;
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
}
.head_block3 {
	border: 1px solid #9BCEF0;
	border-bottom-width:1px;
	background-color:#D6EAF8;		
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
	width:50%;
	height:45px;	
}
.block {
	border: 1px solid #7FBBF4;	
	background-color:#C7EAF6;
	 /* 表格居中 */
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
.block_r {
	BORDER-RIGHT: #C2C2C2 1px solid; BORDER-TOP: #C2C2C2 1px solid; BACKGROUND: #fafcff; BORDER-LEFT: #C2C2C2 1px solid; BORDER-BOTTOM: #C2C2C2 1px solid;	
	 /* 表格居中 */
	margin-top:6px;
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
#table_2 {
width:100%;
border:0px;
line-height:30px;
}
#table_ri {
background-color:#C2C2C2;
width:99.8%;
border:0px;
line-height:30px;
}
#table_ri td{
background-color:#f5f5f5;
padding-left:10px;
}
#table_news {
background-color:#C2C2C2;
width:690px;
border:0px;
line-height:30px;
}
#table_news td{
background-color:#f5f5f5;
padding-left:10px;
}
#table_shell {
background-color:#C2C2C2;
width:600px;
border:0px;
line-height:30px;
}
#table_shell td{
background-color:#f5f5f5;
padding-left:10px;
}
#table_login {
background-color:#C2C2C2;
width:400px;
border:0px;
line-height:35px;
}
#table_login td{
background-color:#f5f5f5;
padding-left:10px;
}
.bg_tab{
background:url({{$STATIC}}style/bg_tr.jpg);
}
.td_hg{
height:30px;
}
.td_hg2{
padding-top:30px;
height:100px;
}
.wid_ri{
width:100%;
}
.tb_wid{
width:50%;
}
.tb_wid2{
width:60%;
}
#tb_wid3{
width:130px;
}
.tb_wid4{
width:70%;
}
.tb_wid5{
width:85%;
}
.td_bgc {
background-color:#f5f5f5;
}
.right_2 {
padding-left:10px;
}
.mar_top {
margin-top:15px;
margin-bottom:5px;
line-height:30px;
}
.r_mar_top {
margin-top:7px;
margin-bottom:7px;

}
.r_mar{
margin-top:6px;
}
.r_mar_log{
margin-top:35px;
}
.padd{
padding-left:7%;
}
.padd2{
padding-left:24%;
}
.padd3{
padding-left:19%;
}
.padd4{
padding-left:38%;
}
#header{
width:100%;
background:#464646;
height:35px;
color:#FFFFFF;
margin-bottom:60px;
}
.STYLE1 {color: #000000}

.font_1 {
	FONT-SIZE: 14px;
	color:red;
}
.red {
	color:red;
}






