{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<script language='javascript'>
function send()
{
	var subject = $("#subject").val();
	var body = $("#body").val();
	var url = "?c=mail&a=send";
	var address = $("#address").val();
	if (address !="" && address != null) {
		$.post(url,{address:address,mail_body:body,mail_subject:subject},function(msg){alert(msg)});
	}else{
		$.post(url,{mail_body:body,mail_subject:subject},function(msg){alert(msg)});
	}
}
</script>
<div align="center">
		<table class="table_main2" cellpadding="0" cellspacing="1">
			<tr><td colspan="2" class="bg_main">群发邮件</td></tr>
			
			<tr><td class="wid_general">邮箱：<font color='red'>*逗号分割,留空为所有注册账户</font></td>
				<td><textarea name='mail_address' id='address' rows='1' cols='88' ></textarea></td></tr>
						
			<tr><td class="wid_general">邮件标题：</td>
				<td><input name='mail_subject' id='subject' type='text' value="" size="70"></td></tr>
				
			<tr><td class="wid_general">邮件内容：</td>
				<td><textarea name='mail_body'  id='body' rows='10' cols='88'></textarea></td></tr>
				
			<tr><td>&nbsp;</td>
				<td ><input type='button' onclick="send();" value="发送"></td></tr>
				
		</table>
</div> 	
	