<!--左部文件开始-->
	  	<div class="left_main_vh">
			<!--虚拟主机列表代码开始-->
			<div class="left_host"></div>
			<div class="left_box_host l_host_wid" align="left">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
					<tr>
						<td class="wid_2"></td><td class="host_l right_h" background="/user{{$STATIC}}images/lemu_over.jpg">美国双线主机空间</td><td class="wid_l"></td>
					</tr>
					<tr><td class="heig_l"></td></tr>
					<tr>
						<td class="wid_2"></td><td class="host_l right_h" background="/user{{$STATIC}}images/lemu_over.jpg">美国双线主机空间</td><td class="wid_l"></td>
					</tr>
					<tr><td class="heig_l"></td></tr>
					<tr>
					<tr>
						<td class="wid_2"></td><td class="host_l right_h" background="/user{{$STATIC}}images/lemu_over.jpg">美国双线主机空间</td><td class="wid_l"></td>
					</tr>
					<tr><td class="heig_l"></td></tr>
					<tr>
					<tr>
						<td class="wid_2"></td><td class="host_l right_h" background="/user{{$STATIC}}images/lemu_over.jpg">美国双线主机空间</td><td class="wid_l"></td>
					</tr>
					<tr><td class="heig_l"></td></tr>
					<tr>
					<tr>
						<td class="wid_2"></td><td class="host_l right_h" background="/user{{$STATIC}}images/lemu_over.jpg">美国双线主机空间</td><td class="wid_l"></td>
					</tr>
					<tr><td class="heig_l"></td></tr>
			  </table>
			</div>
			<!--虚拟主机列表代码结束-->
		<div class="height_t"><table id="table_r"><tr><td height="5"></td></tr></table></div>
		</div>