<style type='text/css'>
.public_left {
	width:180px;
	padding-left:10px;
	font-weight:bold;
	
}
.public_list {
	height:30px;
	font-size:16;
	color:rgb(100,0,200);
	background-color:#FFA500;
	direction: rtl;
	margin: 5px;
	padding-bottom:1px;
}
.public_host {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	font-size:16;
	border:1px solid #CDC1C5;
	margin: 5px;
	background-color:#F5F5F5;
	
}
.onMouseOver {
	background-color:#FFA500;
}
</style>
<script language='javascript'>
$(document).ready(function(){
	jQuery(".public_left div").mouseover(function(){
		jQuery(this).addClass('onMouseOver');
	});
	jQuery(".public_left div").mouseout(function(){
			jQuery(this).removeClass('onMouseOver');
	});
});

</script>

<div class='public_left'>
	{{if $groups}}
		{{for $f=0;$f< count($groups);$f++}}
			<div class='public_list'><p>&nbsp;&nbsp;分类:{{$groups[$f].group_name}}</p></div>
			{{for $i=0;$i< count($products);$i++}}
				{{if $products[$i].upid == $groups[$f].group_id}}
					<div class='public_host'><a href="?c=host&a=showProductFrom&product_id={{$products[$i].id}}">{{$products[$i].name}}</a></div>
				{{/if}}
			{{/for}}
			
		{{/for}}
	{{else}}
		<div class='public_list'><p>&nbsp;&nbsp;分类:自由类型</p></div>
		{{for $i=0;$i< count($products);$i++}}
		<div class='public_host'><a href="?c=host&a=showProductFrom&product_id={{$products[$i].id}}">{{$products[$i].name}}</a></div>
		{{/for}}
	
	{{/if}}

</div>


