<div class="wid_menu_vh">
  <table width="750" border="0" cellpadding="0" cellspacing="0" align="center">
  	  <tr>
		<td colspan="2" background="{{$STATIC}}images/nav_bg.jpg" class="right_hg right fontcolor">
			当前位置 : <a href="/">首页</a> >> 产品详请
		</td>
	 </tr>
</table>
</div>
<div class="right" align="center">

<div class="wid_ri r_mar" align="center">
<table id="table_shell" cellpadding="0" cellspacing="1">
	 <tr><td colspan="2" class="red"><b>{{$product_info.name}}产品详请</b></td></tr>
      <tr>
        <td>产品名称:</td>
        <td class="tb_wid2">{{$product_info.name}}</td>
      </tr>
	  <tr>
        <td>空间大小:</td>
        <td>{{$product_info.web_quota}}M</td>
	  </tr>
	  <tr>
        <td>数据库大小:</td>
        <td>{{$product_info.db_quota}}M</td>
	  </tr>
	  <tr>
        <td>域名绑定个数:</td>
        <td>{{if $product_info.domain==-1}}不限{{else}} {{$product_info.domain}}个{{/if}}</td>
	  </tr>
	  <tr>
        <td>最大连接数:</td>
        <td>{{if $product_info.max_connect==0}}不限{{else}}{{$product_info.max_connect}}{{/if}}</td>
	  </tr>
	  <tr>
        <td>允许绑定子目录:</td>
        <td>{{if $product_info.subdir_flag==1}}是{{else}}否{{/if}}</td>
	  </tr>
	  <tr>
        <td>语言引擎:</td>
        <td>{{$product_info.subtemplete}}</td>
	  </tr>
	  {{if $product_info.ftp!=1}}
	  <tr>
        <td>是否开启ftp:</td>
        <td><font color='red'>否</font></td>
	  </tr>
	  {{/if}}
	  <tr>
        <td>产品说明:</td>
        <td>{{$product_info.describe}}</td>
	  </tr>
	  
       <tr>
       <td>价格:</td>
       	<td>{{$product_info.price/100}}元/年</td>
        </tr>
        
	    <tr>
	    <td class="td_hg" colspan="2" align="center">
		<a href="?c=product&a=sellForm&product=vhost_{{$product_info.id}}"><img src="{{$STATIC}}images/r_btn01.jpg" border="0"/></a></td>
        </tr>
    </table>
	</div>
    </form>
  </div>
