{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<script language='javascript' src='{{$PSTATIC}}/style/common.js'></script>
<script language='javascript'>
function list_subtemplete_result() { 
	var recv_msg=false;
	try{
	 if (xmlhttp.readyState==4) {
		if(xmlhttp.status==200){		
		  var dataArray = xmlhttp.responseXML.getElementsByTagName('subtemplete');
	      var dataArrayLen = dataArray.length;
	      var templeteMatched = false;
		  var i=0;
		  var insertData = '';
		  if(dataArrayLen>0){
		   	insertData = "默认引擎:<select name='subtemplete'>";
		  	for(i=0;i<dataArrayLen;i++){			 
				if(dataArray[i].firstChild==null){
					continue;
				}
			  var templete = dataArray[i].firstChild.data;
			  insertData += "<option value='" + templete + "' ";
			  if(templete == '{{$vhostproduct.subtemplete}}'){
				  insertData += 'selected';
				  templeteMatched = true;
			  }
			  insertData += ">" + templete + "</option>\n";
			 }
			 insertData += "</select>";
		  }
		  xxkf_obj('subtemplete').innerHTML = insertData;
		}
	  }
	}catch(e){
		alert(e);
	}
}
function changeTemplete(templete)
{
	//alert('templete='+templete);
	xxkf_obj('subtemplete').innerHTML="<img src='{{$PSTATIC}}/style/busy.gif'/>";
	var url = '?c={{$smarty.request.c}}&a=ajaxListSubTemplete&node=' + nodeform.node.value + '&templete=' + templete;
	ajax_open_url(url,list_subtemplete_result);
}
function list_templete_result() { 
	var recv_msg=false;
	try{
	 if (xmlhttp.readyState==4) {
		if(xmlhttp.status==200){		
			var dataArray = xmlhttp.responseXML.getElementsByTagName('templete');
	      var dataArrayLen = dataArray.length;
	      var templeteMatched = false;
		  var i=0;
		  var insertData = "<select name='templete' onChange='changeTemplete(this.value)'>";
		  for(i=0;i<dataArrayLen;i++){			 
			  var templete = dataArray[i].firstChild.data;
			  insertData += "<option value='" + templete + "' ";
			  if(templete == '{{$vhostproduct.templete}}'){
				  insertData += 'selected';
				  templeteMatched = true;
			  }
			  insertData += ">" + templete + "</option>\n";
		  }
		  insertData += "</select>";
		  xxkf_obj('templete').innerHTML = insertData;
		  {{if $vhostproduct.templete!=''}}
		  if(!templeteMatched){
			 alert('Warning: The node have not templete : {{$vhostproduct.templete}}'); 
		  }
		  {{/if}}
	      changeTemplete(nodeform.templete.options[nodeform.templete.selectedIndex].value);
		}
	  }
	}catch(e){
		alert(e);
	}
}
function changeNode()
{
	//alert('haha');
	xxkf_obj('templete').innerHTML="<img src='{{$PSTATIC}}/style/busy.gif'/>";
	var url = '?c={{$smarty.request.c}}&a=ajaxListTemplete&node='+nodeform.node.value;
	//alert(url);
	ajax_open_url(url,list_templete_result);
}
</script>
<div align="center">
<form name='nodeform'
	action="?c=vhostproduct&a={{$action}}&id={{$vhostproduct.id}}"
	method="post">
<div class="head_block tb_wid2">&nbsp;{{if $action=='editProduct'}}修改产品{{else}}增加产品{{/if}}</div>
<div class="block tb_wid2">
<table id="table_2" cellpadding="0" cellspacing="1">
	<tr>
		<td class="td_bgc right_2">主机</td>
		<td class="td_bgc right_2"><select name='node' onChange='changeNode()'>
			{{foreach from=$nodes item=node}}
			<option value='{{$node.name}}'
				{{if $node.name==$vhostproduct.node}}selected{{/if}}>{{$node.name}}</option>
			{{/foreach}}
			</select></td>
		</tr>
	<tr>
		<td class="td_bgc right_2">产品名称：</td>
		<td class="td_bgc right_2 tb_wid2"><input name='name' type='text' id='tb_wid3'
			value="{{$vhostproduct.name}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">产品组：</td>
		<td class="td_bgc right_2 tb_wid2"><input name='upid' type='text'
			value="{{intval($vhostproduct.upid)}}" size="3">(可升级到相同产品组的其它产品，设置为0不可升级)</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">空间大小(M)：</td>
		<td class="td_bgc right_2"><input name="web_quota" type="text"
			id='tb_wid3' value="{{$vhostproduct.w-eb_quota}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">数据库大小(M)：</td>
		<td class="td_bgc right_2"><input name="db_quota" type="text"
			id='tb_wid3' value="{{$vhostproduct.db_quota}}"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">价格(元/年)</td>
		<td class="td_bgc right_2"><input name="price" type="text" id='tb_wid3'
			value="{{$vhostproduct.price/100}}"></td>
	</tr>
	

	<tr>
		<td class="td_bgc right_2">代理价格</td>
		<td class="td_bgc right_2">
		<table>
		<tr>
		{{for $i=0;$i< count($agent_ids);$i++}}
		<td class="td_bgc right_2">{{$agent_ids[$i].name}}<input name="price{{$agent_ids[$i].id}}" type="text" id='tb_wid3' value="" style="width:30px" /></td>
		{{/for}}
		<tr>
		</table>
		</td>
	</tr>
	
	
	
	<tr>
		<td class="td_bgc right_2">域名绑定个数(-1表示无限)</td>
		<td class="td_bgc right_2"><input name="domain" type="text" id='tb_wid3'
			value="{{if $vhostproduct}}{{$vhostproduct.domain}}{{else}}-1{{/if}}"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">绑定子目录</td>
		<td class="td_bgc right_2"><input type='checkbox' name='subdir_flag' value='1' {{if $vhostproduct.subdir_flag}}checked{{/if}}>允许绑定子目录
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">默认绑定子目录:</td>
		<td class="td_bgc right_2"><input name="subdir" type="text" id='tb_wid3'
			value="{{$vhostproduct.subdir}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">模板</td>
		<td class="td_bgc right_2">
		<table><tr><td>
		<div id='templete'><input name="templete" type="text"
			value="{{$vhostproduct.templete}}"></div>
			</td><td>
		<div id='subtemplete'></div>
		</td></tr></table>
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">最大连接数(0无限)</td>
		<td class="td_bgc right_2"><input name="max_connect" type="text"
			size='5' value="{{if $vhostproduct}}{{$vhostproduct.max_connect}}{{else}}0{{/if}}">
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">带宽限制(0无限)</td>
		<td class="td_bgc right_2"><input name="speed_limit" type="text"
			size='5' value="{{if $vhostproduct}}{{$vhostproduct.speed_limit/1024}}{{else}}0{{/if}}">&nbspK/每秒
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">其它选项</td>
		<td class="td_bgc right_2">
			<input type='checkbox' name='htaccess' value='1' {{if $vhostproduct.htaccess || !$vhostproduct}}checked{{/if}}>.htaccess支持
			<input type='checkbox' name='ftp' value='1' {{if $vhostproduct.ftp || !$vhostproduct}}checked{{/if}}>开启ftp
			<input type='checkbox' name='log_file' value='1' {{if $vhostproduct.log_file || !$vhostproduct}}checked{{/if}}>日志独立
			<input type='checkbox' name='access' value='1' {{if $vhostproduct.access || !$vhostproduct}}checked{{/if}}>自定义控制
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">产品说明(支持html):</td>
		<td class="td_bgc right_2"><textarea name='describe' rows='6' cols='40'>{{$vhostproduct.describe}}</textarea></td>
	</tr>
	<tr>

		<td class="td_bgc right_2">状态</td>
		<td class="td_bgc right_2">
		<input type="checkbox" name="pause_flag" value="1" {{if $vhostproduct.pause_flag!=0}}checked{{/if}}>暂停销售
		<input type="checkbox" name="month_flag" value="1" {{if $vhostproduct.month_flag!=0}}checked{{/if}}>月付
		</td>
	</tr>
	<tr>
		<td class="td_bgc td_hg" colspan="2" align="center"><input
			type="submit" value="确认提交"></td>
	</tr>
</table>
</div>
</form>
</div>
<script language='javascript'>
changeNode();
</script>
</body>
{{include file='common/foot.html'}}
