{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<script language='javascript' src='{{$PSTATIC}}/style/common.js'></script>
<script language='javascript'>
function list_templete_result() { 
	var recv_msg=false;
	try{
	 if (xmlhttp.readyState==4) {
		if(xmlhttp.status==200){		
			var dataArray = xmlhttp.responseXML.getElementsByTagName('templete');
	      var dataArrayLen = dataArray.length;
	      var templeteMatched = false;
		  var i=0;
		  var insertData = "<select name='templete'>";
		  for(i=0;i<dataArrayLen;i++){			 
			  var templete = dataArray[i].firstChild.data;
			  insertData += "<option value='" + templete + "' ";
			  if(templete == '{{$vhostproduct.templete}}'){
				  insertData += 'selected';
				  templeteMatched = true;
			  }
			  insertData += ">" + templete + "</option>\n";
		  }
		  insertData += "</select>";
		  xxkf_obj('templete').innerHTML = insertData;
		  {{if $vhostproduct.templete!=''}}
		  if(!templeteMatched){
			 alert('Warning: The node have not templete : {{$vhostproduct.templete}}'); 
		  }
		  {{/if}}
		}
	  }
	}catch(e){
		alert(e);
	}
}
function changeNode()
{
	//alert('haha');
	xxkf_obj('templete').innerHTML="<img src='{{$PSTATIC}}/style/busy.gif'/>";
	var url = '?c={{$smarty.request.c}}&a=ajaxListTemplete&node='+nodeform.node.value;
	//alert(url);
	ajax_open_url(url,list_templete_result);
}
</script>
<div align="center">
<form name='nodeform'
	action="?c=vhostproduct&a={{$action}}&id={{$vhostproduct.id}}"
	method="post">
<div class="head_block tb_wid">&nbsp;增加产品</div>
<div class="block tb_wid">
<table id="table_2" cellpadding="0" cellspacing="1">
	<tr>
		<td class="td_bgc right_2">产品名称：</td>
		<td class="td_bgc right_2 tb_wid2"><input name='name' type='text' id='tb_wid3'
			value="{{$vhostproduct.name}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">空间大小(M)：</td>
		<td class="td_bgc right_2"><input name="web_quota" type="text"
			id='tb_wid3' value="{{$vhostproduct.web_quota}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">数据库大小(M)：</td>
		<td class="td_bgc right_2"><input name="db_quota" type="text"
			id='tb_wid3' value="{{$vhostproduct.db_quota}}"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">价格(元/年)</td>
		<td class="td_bgc right_2"><input name="price" type="text" id='tb_wid3'
			value="{{$vhostproduct.price/100}}"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">绑定子目录</td>
		<td class="td_bgc right_2"><input type='checkbox' name='subdir_flag' value='1' {{if $vhostproduct.subdir_flag}}checked{{/if}}>允许绑定子目录
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">默认绑定子目录:</td>
		<td class="td_bgc right_2"><input name="subdir" type="text" id='tb_wid3'
			value="{{$vhostproduct.subdir}}" size="16"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">模板</td>
		<td class="td_bgc right_2">
		<div id='templete'><input name="templete" type="text"
			value="{{$vhostproduct.templete}}"></div>
		</td>
	</tr>
	<tr>
		<td class="td_bgc right_2">主机</td>
		<td class="td_bgc right_2"><select name='node' onChange='changeNode()'>
			{{foreach from=$nodes item=node}}
			<option value='{{$node.name}}'
				{{if $node.name==$vhostproduct.node}}selected{{/if}}>{{$node.name}}</option>
			{{/foreach}}
		</select></td>
	</tr>
	<tr>
		<td class="td_bgc right_2">产品说明(支持html):</td>
		<td class="td_bgc right_2"><textarea name='describe' rows='6' cols='40'>{{$vhostproduct.describe}}</textarea></td>
	</tr>
	<tr>

		<td class="td_bgc right_2">状态</td>
		<td class="td_bgc right_2"><input type="checkbox" name="pause_flag"
			value="1" {{if $vhostproduct.pause_flag!=0}}checked{{/if}}>
		暂停销售</td>
	</tr>
	<tr>
		<td class="td_bgc td_hg" colspan="2" align="center"><input
			type="submit" value="确认提交"></td>
	</tr>
</table>
</div>
</form>
</div>
<script language='javascript'>
changeNode();
</script>
</body>
{{include file='common/foot.html'}}
