{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
	<div align="center">
	<div class="mar_top tb_wid4" align="right">
			{{if $page>1}}
			<a href='?c=vhost&a=pageVhost&page=0'>首页</a> 
			<a href='?c=vhost&a=pageVhost&page={{$page-1}}'>上一页</a> 
			{{else}}
			首页 上一页 
			{{/if}}
			{{if $page!=$total_page}} 
			<a href='?c=vhost&a=pageVhost&page={{$page+1}}'>下一页</a>
			<a href='?c=vhost&a=pageVhost&page={{$total_page}}'>尾页</a>
			{{else}}下一页 尾页
			{{/if}} 
			{{$page}}/{{$total_page}}&nbsp;
			共计{{$count}}记录
		</div>
		<div class="block tb_wid4">
			<table id="table" border="0" cellpadding="0" cellspacing="1">
				<tr id="ttitle">
					<td class="td_bgc right_2">用户名</td>
					<td class="td_bgc right_2">uid</td>
					<td class="td_bgc right_2">所属用户</td>
					<td class="td_bgc right_2">模板</td>
					<td class="td_bgc right_2">所在服务器</td>
					<td class="td_bgc right_2">路径</td>
					<td class="td_bgc right_2">创建时间</td>
					<td class="td_bgc right_2">过期时间</td>
					<td class="td_bgc right_2">空间状态</td>					
					</tr>
					{{foreach from=$list item=row}}
				<tr>
					<td class="td_bgc right_2"><a href='?c=vhost&a=showVhost&user={{$row.name}}'>{{$row.name}}</a></td>
					<td class="td_bgc right_2">{{$row.uid}}</td>
					<td class="td_bgc right_2"><a href='?c=user&a=listUser&username={{$row.username}}'>{{$row.username}}</a></td>
					<td class="td_bgc right_2">{{$row.templete}}</td>
					<td class="td_bgc right_2">{{$row.node}}</td>
					<td class="td_bgc right_2">{{$row.doc_root}}</td>
					<td class="td_bgc right_2">{{$row.create_time}}</td>
					<td class="td_bgc right_2">{{$row.expire_time}}</td>
					<td class="td_bgc right_2">{{$row.status}}</td>
					</tr>
					{{/foreach}}
		  </table>
		</div>
			<div class="mar_top tb_wid4" align="right">
			{{if $page>1}}
			<a href='?c=vhost&a=pageVhost&page=0'>首页</a> 
			<a href='?c=vhost&a=pageVhost&page={{$page-1}}'>上一页</a> 
			{{else}}
			首页 上一页 
			{{/if}}
			{{if $page!=$total_page}} 
			<a href='?c=vhost&a=pageVhost&page={{$page+1}}'>下一页</a>
			<a href='?c=vhost&a=pageVhost&page={{$total_page}}'>尾页</a>
			{{else}}下一页 尾页
			{{/if}} 
			{{$page}}/{{$total_page}}&nbsp;
			共计{{$count}}记录
		</div>
		</div>
</div>
</body>
</html>