{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000"> 
<div id="main">
 <form name="form1" method="post" action="?c=vhost&a=showVhost">
    输入ftp用户名或#uid或域名
    <input name="user" type="text" id="user" value="{{$user}}">
    <input type="submit" name="Submit" value="搜索">
  </form>
  </div>
{{if $msg}}
<div align="center">
<div class="block tb_wid2 mar_top" align="center"><font color=red>{{$msg}}</font></div></div>
{{/if}}
  {{if $row}}
  <div align="center">
<div class="head_block tb_wid2">&nbsp;产品信息</div>
<div class="block tb_wid2">
<table id="table_2" cellpadding="0" cellspacing="1">
		 <tr>
        <td class="td_bgc td_hg" colspan="2" align="center">
		[<a href='?c={{$smarty.request.c}}&a=resync&name={{$row.name}}'>重建空间</a>] 
        [<a href='javascript:if(confirm("真的要重设用户密码吗")){ window.location="?c={{$smarty.request.c}}&a=randPassword&name={{$row.name}}";}'>重设密码</a>] 
        [<a href='javascript:if(confirm("真的要重设数据库密码吗")){ window.location="?c={{$smarty.request.c}}&a=randDbPassword&name={{$row.name}}";}'>重设数据库密码</a>]
		[<a href='?c={{$smarty.request.c}}&a=impLogin&name={{$row.name}}'>控制面板</a>]</td>
          </tr>
      <tr>
        <td class="td_bgc right_2">用户名</td>
        <td class="td_bgc">{{$row.name}}</td>
        </tr>
      <tr>
        <td class="td_bgc right_2">UID：</td>
        <td class="td_bgc">{{$row.uid}}</td>
      </tr>
      <tr>
        <td class="td_bgc right_2">所属用户：</td>
        <td class="td_bgc"><a href='?c=user&a=listUser&username={{$row.username}}'>{{$row.username}}</a></td>
      </tr>
	  <tr>
        <td class="td_bgc right_2">产品名称</td>
        <td class="td_bgc">{{$row.product_name}}</td>
	  </tr>
	  <tr>
        <td class="td_bgc right_2">模板</td>
        <td class="td_bgc">{{$row.templete}}:{{$row.sub_templete}}</td>
	  </tr>
	   <tr>
        <td class="td_bgc right_2">所在服务器</td>
        <td class="td_bgc">{{$row.node}}</td>
        </tr>
       <tr>
        <td class="td_bgc right_2">路径</td>
        <td class="td_bgc">{{$row.doc_root}}</td>
        </tr>
	   <tr>
        <td class="td_bgc right_2">创建时间</td>
        <td class="td_bgc">{{$row.create_time}}</td>
        </tr>
			  <tr>
        <td class="td_bgc right_2">过期时间</td>
        <td class="td_bgc">{{$row.expire_time}}</td>
        </tr>
			  <tr>
        <td class="td_bgc right_2">状态</td>
        <td class="td_bgc">
        <form action='?c={{$smarty.request.c}}&a=setStatus&name={{$row.name}}' method='post' name='status_form'>
        <select name='status' onChange="javascript:status_form.submit()">
        {{for $i=0; $i<10; $i++}}
        <option value='{{$i}}' {{if $i==$row.status}} selected {{/if}}>
		 {{$i}}
		 </option>
 		{{/for}}
 </select>
 </form>
 </td></tr>
</table>
</div>
<div><br></div>
    {{if $list}}
<div class="head_block tb_wid2">&nbsp;域名绑定目录</div>
<div class="block tb_wid2">
<table id="table_2" cellpadding="0" cellspacing="1">
      <tr>
        <td class="td_bgc right_2">域名</td>
        <td class="td_bgc right_2">目录</td></tr>
		 {{foreach from=$list item=row}}
      <tr>
        <td class="td_bgc right_2 tb_wid">{{$row.name}}</td>
        <td class="td_bgc right_2">{{$row.value}}</td></tr>
		  {{/foreach}}
          {{/if}}
     </table>
	 </div>
   {{/if}}
</div>
</div>
</body>
{{include file='common/foot.html'}}