{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<script language='javascript' src='{{$PSTATIC}}/style/common.js'></script>
<script language='javascript'>
var xmlhttp2=new Array();
function changeNodeResult(id) { 
	var recv_msg=false;
	try{
	 if (xmlhttp2[id].readyState==4) {
		if(xmlhttp2[id].status==200){	
			//alert(xmlhttp2[id].responseText);	
			xxkf_obj('busy'+id).innerHTML = "";
		 	var dataArray = xmlhttp2[id].responseXML.getElementsByTagName('result');
		 	var code = dataArray[0].getAttribute('code');
		 	if(code==2){
			 	alert('更新主机失败，该主机上没有相应模板');
		 	}else if(code==0){
			 	alert('更新主机失败');
		 	}		 		
		}
	  }
	}catch(e){
		alert(e);
	}
}
function changeNode(id,templete)
{
	//alert('id='+id);
	//alert(xxkf_obj('node'+id).selectedIndex);
	var node = xxkf_obj('node'+id).value;
	//alert(node_value);
	var url='?c={{$smarty.request.c}}&a=ajaxChangeNode&id='+id + '&node=' + node + '&templete=' + templete;
	xxkf_obj('busy'+id).innerHTML="<img src='{{$PSTATIC}}/style/busy.gif'/>";
	xmlhttp2[id] = create_xmlhttp();	
	xmlhttp2[id].open("GET",url,true);
	xmlhttp2[id].onreadystatechange=function (){
		changeNodeResult(id);
	};
	xmlhttp2[id].send(null);
}

</script>
<div id="container">
<div class="topimg pal1">共计 {{$sum}} 条记录</div>
  <div id="main" class="wid">
  <form action='?c={{$smarty.request.c}}&a={{$smarty.request.a}}' method='post' name='product_form'>
  <select name='product_flag' onChange="javascript:product_form.submit();">
  <option value='0' {{if $product_flag==0}}selected{{/if}}>所有产品</option>
  <option value='1' {{if $product_flag==1}}selected{{/if}}>暂停产品</option>
  <option value='2' {{if $product_flag==2}}selected{{/if}}>可销售产品</option>
  </select>
  </form>
    <table cellpadding=0 cellspacing=1 id="table">
      <tr id="ttitle">
          <td class='color01 right' bgcolor='#efefef'>操作</td>
	   <td class='color01 right' bgcolor='#efefef'>{{$lang.product_id}}</td>
        <td class='color01 right' bgcolor='#efefef'>产品名称</td>
		<td class='color01 right' bgcolor='#efefef'>空间配额(M)</td>
		<td class='color01 right' bgcolor='#efefef'>数据库配额(M)</td>
		<td class='color01 right' bgcolor='#efefef'>价格(分/年)</td>
		
		<td class='color01 right' bgcolor='#efefef'>模板</td>
		<td class='color01 right' bgcolor='#efefef'>主机</td>
		<td class='color01 right' bgcolor='#efefef'>状态</td>
    
      </tr>
	  {{foreach from=$list item=row}}
      <tr>
        <td class="right">[<a href="javascript:if(confirm('确定删除{{$row.name}}?')){location='?c=vhostproduct&a=del&id={{$row.id}}';}" title="删除">
        删除</a>]
        [<a href="?c=vhostproduct&a=editProductForm&id={{$row.id}}">
        更改</a>]
        <td class="right">{{$row.id}}</td>
		<td class="right">{{$row.name}}</td>
		<td class="right">{{$row.web_quota}}</td>
		<td class="right">{{$row.db_quota}}</td>
		<td class="right">{{$row.price}}</td>
		<td class="right">{{$row.templete}}</td>
		<td class="right">
			<select id='node{{$row.id}}' name='node' onChange="changeNode('{{$row.id}}','{{$row.templete}}')"">
		{{foreach from=$nodes item=node}}
		<option value='{{$node}}' {{if $row.node==$node}}selected{{/if}}>
		{{$node}}
		</option>
		{{/foreach}}
		</select>
		<div id='busy{{$row.id}}'></div>
		</td>
		<td class="right">{{if $row.pause_flag!=0}}暂停销售{{/if}}</td>
        </td>
      </tr>
	  {{/foreach}}
    </table>
    <div align="left">
	</div>
  </div>
</div>
</body>
{{include file='common/foot.html'}}