{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000"> 
 <form name="form1" method="post" action="?c=vhost&a=showVhost">
    输入ftp用户名或#uid或域名
    <input name="user" type="text" id="user" value="{{$user}}">
    <input type="submit" name="Submit" value="搜索">
  </form>
<div id="container">

  {{if $row}}
   <div id="main" class="wid"> 
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="1" id="td1">
	<tr>
  <td height="30" id="td2" colspan="2" class="color01 right"><font color="#FFFFFF">产品信息</font></td>
	</tr>
  <tr>
    <td>
<table width="100%" height="250" border="0" cellpadding="0" cellspacing="1" id="td5">
		 <tr>
        <td id="td3" colspan="2" align="center">
		[<a href='?c={{$smarty.request.c}}&a=resync&user={{$row.name}}'>重建空间</a>] 
        [<a href='?c={{$smarty.request.c}}&a=resync&user={{$row.name}}'>重设密码</a>] 
        [<a href='?c={{$smarty.request.c}}&a=resync&user={{$row.name}}'>重设数据库密码</a>]
		</td>
          </tr>
      <tr>
        <td id="td3" width="189" class="color01 right">用户名</td>
        <td width="423" id="td4">{{$row.name}}</td>
        </tr>
      <tr>
        <td id="td3" class="color01 right">UID：</td>
        <td id="td4">{{$row.uid}}</td>
      </tr>
      <tr>
        <td id="td3" class="color01 right">所属用户：</td>
        <td id="td4"><a href='?c=user&a=listUser&username={{$row.username}}'>{{$row.username}}</a></td>
      </tr>
	  <tr>
        <td id="td3" class="color01 right">产品ID</td>
        <td id="td4">{{$row.product_id}}</td>
	  </tr>
	   <tr>
        <td id="td3"  class="color01 right">所在服务器</td>
        <td id="td4">{{$row.node}}</td>
        </tr>
       <tr>
        <td id="td3"  class="color01 right">路径</td>
        <td id="td4">{{$row.doc_root}}</td>
        </tr>
	   <tr>
        <td id="td3"  class="color01 right">创建时间</td>
        <td id="td4">{{$row.create_time}}</td>
        </tr>
			  <tr>
        <td id="td3"  class="color01 right">过期时间</td>
        <td id="td4">{{$row.expire_time}}</td>
        </tr>
			  <tr>
        <td id="td3"  class="color01 right">状态</td>
        <td id="td4">
        <form action='?c={{$smarty.request.c}}&a=setStatus&user={{$row.name}}' method='post' name='status_form'>
        <select name='status' onChange="javascript:status_form.submit()">
        {{for $i=0; $i<10; $i++}}
        <option value='{{$i}}' {{if $i==$row.status}} selected {{/if}}>
		 {{$i}}
		 </option>
 		{{/for}}
 </select>
 </form>
 </td>
        </tr>
</table></td>
  </tr>
</table>
    {{if $list}}
  <table >
  <tr id="ttitle"><td class='color01 right' bgcolor='#efefef'>域名</td><td class='color01 right' bgcolor='#efefef'>目录</td></tr>
  {{foreach from=$list item=row}}
  <tr><td>{{$row.domain}}</td><td>{{$row.dir}}</td></tr>
  {{/foreach}}
  {{/if}}
  </table>
   {{/if}}
</div>
</body>
{{include file='common/foot.html'}}