{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
<div class="topimg">
  <form name="form1" method="post" action="?c={{$smarty.request.c}}&a={{$smarty.request.a}}">
    用户名:
    <input name="username" type="text" id="username" value="{{$username}}">
    <input type="submit" name="Submit" value="搜索">
  </form>
  </div>
  {{if $msg}}<font color='red'>{{$msg}}</font>{{/if}}
  {{if $sum>0}}
  <div id="main" class="wid"> 
    <table align="center" id="td1" border="0" cellpadding="0" cellspacing="1" width="70%">
  {{foreach from=$list item=row}}
	<tr>
  <td height="30" id="td2" colspan="2"><font color="#FFFFFF">　用户查询</font></td>
	</tr>
  <tr>
    <td>
<table width="100%" height="210" border="0" cellpadding="0" cellspacing="1" id="td5">
      <tr>
        <td id="td3" width="189" class="color01 right">操作：</td>
        <td width="423" id="td4">
        [<a href="?c=user&a=editForm&username={{$row.username}}" title="更改信息">更改</a>]
        [<a href='javascript:if(confirm("真的要重设用户密码吗")){ window.location="?c=user&a=randPassword&username={{$row.username}}";}'>重设密码</a>]
        [<a href="?c=user&a=impLogin&username={{$row.username}}" target="_blank">模拟登录</a>]
        </td>
        </tr>
      <tr>
        <td id="td3" class="color01 right">用户名：</td>
        <td id="td4"><a href="?c=user&a=editForm&username={{$row.username}}">{{$row.username}}</a></td>
        </tr>
      <tr>
        <td id="td3" class="color01 right">真实姓名：</td>
        <td id="td4">{{$row.name}}</td>
        </tr>
	  <tr>
        <td id="td3" class="color01 right">身份号码</td>
        <td id="td4">{{$row.id}}</td>
        </tr>
	  <tr>
        <td id="td3" class="color01 right">电子邮件</td>
        <td id="td4">{{$row.email}}</td>
        </tr>
	  <tr>
        <td id="td3" class="color01 right">注册时间</td>
        <td id="td4">{{$row.regtime}}</td>
        </tr>
	  <tr>
        <td id="td3" class="color01 right">余额(分)</td>
        <td id="td4"><a href="?c=user&a=editMoneyForm&username={{$row.username}}">{{$row.money}}</a></td>
        </tr>
	    </table></td>
  </tr>
  {{/foreach}}
</table>
 </div>
</div>
{{/if}}
</body>
</html>
{{include file='common/foot.html'}}