!{include file='common/head.html'}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
<div class="topimg">
  <form name="form1" method="post" action="?c=!{$_c}&a=!{$_a}">
    用户名:
    <input name="username" type="text" id="username">
    <input type="submit" name="Submit" value="搜索">
  </form>
  </div>
<div class="topimg pal1">共计 !{$sum} 条记录</div>
  <div id="main" class="wid"> 
    <table cellpadding=0 cellspacing=1 id="table">
      <tr id="ttitle">	
	  <td class='color01 right' bgcolor='#efefef'>操作</td>
        <td class='color01 right' bgcolor='#efefef'>用户名</td>
		<td class='color01 right' bgcolor='#efefef'>真实姓名</td>
		<td class='color01 right' bgcolor='#efefef'>身份号码</td>
		<td class='color01 right' bgcolor='#efefef'>电子邮件</td>
		<td class='color01 right' bgcolor='#efefef'>注册时间</td>
		<td class='color01 right' bgcolor='#efefef'>余额(分)</td>
	
	  </tr>
	  !{foreach from=$list item=row}
      <tr>
	  <td class="right">[<a href="?c=user&a=editForm&username=!{$row.username}" title="更改信息">更改</a>][<a href="?c=user&a=impLogin&username=!{$row.username}" target="_blank">模拟登录</a>]</td>
	  <td ><a href="?c=user&a=editForm&username=!{$row.username}">!{$row.username}</a></td>
        <td>!{$row.name}</td>
		 <td>!{$row.id}</td>
		  <td>!{$row.email}</td>
		   <td>!{$row.regtime}</td>
		 <td><a href="?c=user&a=editMoneyForm&username=!{$row.username}">!{$row.money}</a></td>
		  </tr>
	  !{/foreach}
    </table>
   </div>
</div>
</body>
</html>
!{include file='common/foot.html'}