{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：信息管理 --> 管理日志</div>
		<table class="table_main2" cellpadding="0" cellspacing="1">
			<tr><form name='orderform' action="?c=operatelog&a=operatelogPageList" method="post">
				<td colspan="6" id="bg_yellow" class="hg_main">
					<span class="topimg STYLE1">管理员账号搜索:</span>
					<input name='admin' type='text'>&nbsp;<input type='submit' value="提交">
				</td>
				</form></tr>
			<tr><td colspan="6" id="bg_yellow" align="right">
					{{if $page > 1}}
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&&page=0'>首页</a> 
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$page-1}}'>上一页</a> 
					{{else}}
					首页 上一页 
					{{/if}}
					{{if $page != $total_page}} 
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$page+1}}'>下一页</a>
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$total_page}}'>尾页</a>
					{{else}}下一页 尾页
					{{/if}} 
					{{$page}}/{{$total_page}}&nbsp;
					共计{{$count}}记录&nbsp;
				</td></tr>
			
			
			<tr id="bg_yellow">
				<td><a href='?c=operatelog&a=operatelogPageList&order=id'>ID</a></td>
				<td><a href='?c=operatelog&a=operatelogPageList&order=admin'>管理员名</a></td>
				<td><a href='?c=operatelog&a=operatelogPageList&order=operate'>操作名称</a></td>
				<td><a href='?c=operatelog&a=operatelogPageList&order=operate_object'>操作对象</a></td>
				<td><a href='?c=operatelog&a=operatelogPageList&order=operate_time'>操作时间</a></td>
				<td>备注信息</a></td></tr>
			
			{{foreach from=$list item=row}}
			<tr><td>{{$row.id}}</td>
				<td>{{$row.admin}}</td>
				<td>{{$row.operate}}</td>
				<td>{{$row.operate_object}}</td>
				<td>{{$row.operate_time}}</td>
				<td>{{$row.mem}}</td></tr>
			{{/foreach}}
			
			<tr><td colspan="6" id="bg_yellow" align="right">
					{{if $page > 1}}
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&&page=0'>首页</a> 
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$page-1}}'>上一页</a> 
					{{else}}
					首页 上一页 
					{{/if}}
					{{if $page != $total_page}} 
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$page+1}}'>下一页</a>
					<a href='?c=operatelog&a=operatelogPageList&order={{$order}}&page={{$total_page}}'>尾页</a>
					{{else}}下一页 尾页
					{{/if}} 
					{{$page}}/{{$total_page}}&nbsp;
					共计{{$count}}记录&nbsp;
				</td></tr>
		</table>
	</div>
</div>
</body>
