{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：非自动化产品 --> 产品列表</div>
		<table class="table_main2" cellpadding="0" cellspacing="1">
			<tr>
				<td colspan="7" class="bg_main"><a href="?c=mproduct&a=addMproductFrom" target='main'><b>[增加产品]</b></a></td>
			</tr>
			<tr id="bg_yellow">
				<td>操作</td>	
				<td><a href="?c=mproduct&a=pageListMproduct&order=id">产品ID</a></td>
				<td><a href="?c=mproduct&a=pageListMproduct&order=name">产品名称</a></td>
				<td><a href="?c=mproduct&a=pageListMproduct&order=group_id">业务类型</a></td>
				<td><a href="?c=mproduct&a=pageListMproduct&order=upid">产品组</a></td>
				<td><a href="?c=mproduct&a=pageListMproduct&order=price">价格</a></td>	
				<td><a href="?c=mproduct&a=pageListMproduct&order=group_id">状态</a></td>	
			</tr>
			{{foreach from=$list item=row}}
			<tr>
				<td>
					[<a href="javascript:if(confirm('确定?')){location='?c=mproduct&a=delMproduct&id={{$row.id}}';}" >删除</a>]
					[<a href="?c=mproduct&a=addMproductFrom&id={{$row.id}}" >更改</a>]
				</td>
				<td>{{$row.id}}</td>
				<td>{{$row.name}}</td>
				<td>{{$row.group_name}}</td>
				<td>{{$row.upid}}</td>
				<td>{{$row.price/100}}元</td>
				<td>
				{{if $row.pause_flag!=0}}暂停销售 {{/if}}
				{{if $row.month_flag!=0}}月付 {{/if}}
				</td>
			</tr>
			{{/foreach}}
			<tr>
				<td colspan="7" id="bg_yellow" align="right">
					{{if $page>1}}
					<a href='?c=mproduct&a=pageListMproduct&order={{$order}}&&page=0'>首页</a> 
					<a href='?c=mproduct&a=pageListMproduct&order={{$order}}&page={{$page-1}}'>上一页</a> 
					{{else}}
					首页 上一页 
					{{/if}}
					{{if $page!=$total_page}} 
					<a href='?c=mproduct&a=pageListMproduct&order={{$order}}&page={{$page+1}}'>下一页</a>
					<a href='?c=mproduct&a=pageListMproduct&order={{$order}}&page={{$total_page}}'>尾页</a>
					{{else}}下一页 尾页
					{{/if}} 
					{{$page}}/{{$total_page}}&nbsp;
					共计{{$count}}记录&nbsp;
				</td>
			</tr>
		</table>
	</div>
</div>
</body>