{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<div align="center">
  <form name='nodeform' action="?c=nodes&a={{$action}}&oldname={{$node.name}}" method="post">
<div class="head_block tb_wid">&nbsp;增加主机</div>
<div class="block tb_wid">
<table id="table_2" cellpadding="0" cellspacing="1">
      <tr>
        <td class="td_bgc right_2">名字：</td>
        <td class="td_bgc right_2">
           <input type='text' name='name' id='tb_wid3' value="{{$node.name}}" onBlur="checkName();"
        {{if $action=="edit"}}
        	readonly
        {{/if}}
        />
       <font color=red>*必填.服务器名字.不可以为中文</font></td>
        </tr>
      <tr>
        <td class="td_bgc right_2">easypanel主机IP：</td>
        <td class="td_bgc right_2"><input name="host" type="text" id='tb_wid3' value="{{$node.host}}">
		      <font color=red>*必填</font></td>
        </tr>
      <tr>
        <td class="td_bgc right_2">easypanel端口：</td>
        <td class="td_bgc right_2"><input name="port" id='tb_wid3' value="{{$node.port}}" type="text">
			   <font color=red>*必填(默认:3312)</font></td>
        </tr>	
	  <tr>
        <td class="td_bgc right_2">安全码：</td>
        <td class="td_bgc right_2"><input name="passwd" type="text" id='tb_wid3' value="" autoComplete='off'>
            <font color=red>仅修改时才写.</font></td>
        </tr>
	    <tr>
	    <td class="td_bgc td_hg" colspan="2" align="center">
		<input type="submit" value="确认提交"></td>
        </tr>
    </table>
</div>
  </form>
  </div>
</body>
{{include file='common/foot.html'}}