<div class="topimg STYLE1">当前位置：帐户信息</div>
<div id="main" class="wid">
<table align="center" id="td1" border="0" cellpadding="0" cellspacing="1" width="80%">
	<tr>
  <td height="30" id="td2" colspan="2" class="color01 right"><font color="#FFFFFF">帐号信息</font></td>
	</tr>
  <tr>
    <td><table width="100%" height="225" border="0" cellpadding="0" cellspacing="1" id="td5">
  <tr>
   <td id="td3" class="color01 right">用户名</td>
    <td id="td4">{{$user.name}}</td>
  </tr>
  <tr>
    <td id="td3" class="color01 right">服务器</td>
    <td id="td4">{{$user.node}}</td>
  </tr>
  <tr>
    <td id="td3" class="color01 right">产品名称</td>
    <td id="td4">{{$user.product_id}}</td>
  </tr>
  <tr>
    <td id="td3" class="color01 right">创建时间</td>
    <td id="td4">{{$user.create_time}}</td>
  </tr>
  <tr>
    <td id="td3" class="color01 right">到期时间</td>
    <td id="td4">{{$user.expire_time}}</td>
  </tr>
   <tr>
    <td id="td3" class="color01 right">空间配额</td>
    <td id="td4">总大小:{{$quota.web_limit}}M/已使用:{{$quota.web_used}}M</td>
  </tr>
  {{if $quota.db_limit}}
    <tr>
    <td id="td3" class="color01 right">数据库配额</td>
    <td id="td4">总大小:{{$quota.db_limit}}M/已使用:{{$quota.db_used}}M</td>
  </tr>
   <tr>
    <td id="td3" class="color01 right">数据库信息</td>
    <td id="td4">用户名: a{{$user.uid}} , 数据库名: a{{$user.uid}}</td>
    </tr>
  {{/if}}
  <tr>
    <td id="td3" class="color01 right">状态</td>
    <td id="td4">{{$user.status}}</td>
  </tr>
</table></td>
</tr>
</table>
</div>

