<script language="javascript">
function show(url) 
{ 
	window.open(url,'','height=100,width=250,resize=no,scrollbars=no,toolsbar=no,top=200,left=200');
}
function check_user()
{
	show('?c=product&a=check&product_type=vhost&name='+document.reg.name.value);
}
function check_register()
{
	if(reg.name.value.length<3){
		alert('用户名长度最小为3个字母');
		return false;
	}
	if(reg.passwd.value.length<5){
		alert('密码长度最小要6位');
		return false;
	}
	if(reg.passwd.value.length>16){
		alert('密码长度最长16位');
		return false;
	}
	if(reg.passwd.value!=reg.passwd2.value){
		alert('两次密码不对');
		return false;
	}
	reg.submit();
}
</script>
<div class="right" align="center">
  <form name='reg' action="?c=product&a=sell&product_id={{$product.id}}&product_type=vhost" method="post">
<div class="wid_ri r_mar" align="right">
<table id="table_ri" cellpadding="0" cellspacing="1">
	 <tr><td colspan="2" class="red"><b>购买产品</b></td></tr>
      <tr>
        <td class="right_host_wid">产品:</td>
        <td>{{$product.name}}</td>
        </tr>
      <tr>
        <td>用户名:</td>
        <td><input name="name" type="text" id="name">
		    <input type="button" name="Submit" value="检测用户名" onClick="check_user()"></td>
      </tr>
      <tr>
        <td>密码:</td>
        <td><input name="passwd" type="password" id="passwd"></td>
      </tr>
	  <tr>
        <td>确认密码:</td>
        <td><input name="passwd2" type="password" id="passwd2"></td>
	  </tr>
	  <tr>
        <td>购买时间:</td>
        <td>
        {{if $product.month_flag}}
       	 	<input type=radio name=month value='1' checked>1个月
        {{/if}}
            <input type=radio name=month value=12 {{if !$product.month_flag}}checked{{/if}}>1年
			<input type=radio name=month value=24>2年
			<input type=radio name=month value=36>3年</td>
	  </tr>
	  {{if $product.cdn==0}}
	  <tr>
        <td>语言引擎:</td>
        <td>
        {{if $product.cs==0}}
        	{{$product.subtemplete}}
        {{else}}
        	<select name='subtemplete'>
		    {{foreach from=$subtempletes item=subtemplete}}
			    <option value='{{$subtemplete}}' {{if $subtemplete==$product.subtemplete}}selected{{/if}}>
			    {{$subtemplete}}
			    </option>
		    {{/foreach}}
		    </select>
        {{/if}}
        </td>
	  </tr>
	  <tr>
        <td>空间大小:</td>
        <td>{{$product.web_quota}}M</td>
	  </tr>
	  <tr>
        <td>数据库大小:</td>
        <td>{{$product.db_quota}}M</td>
	  </tr>
	  <!-- 
	   <tr>
        <td>允许绑定子目录:</td>
        <td>{{if $product.subdir_flag==1}}是{{else}}否{{/if}}</td>
	  </tr>
	  -->
	  {{/if}}
	  <tr>
        <td>域名绑定个数:</td>
        <td>{{if $product.domain==-1}}不限{{else}} {{$product.domain}}个{{/if}}</td>
	  </tr>
	  <tr>
        <td>最大连接数:</td>
        <td>{{if $product.max_connect==0}}不限{{else}}{{$product.max_connect}}{{/if}}</td>
	  </tr>
	 
	<!--   
	  {{if $product.ftp!=1}}
	  <tr>
        <td>是否开启ftp:</td>
        <td><font color='red'>否</font></td>
	  </tr>
	  {{/if}}
	  -->
	  <tr>
        <td>说明:</td>
        <td>{{$product.describe}}</td>
	  </tr>
	  
       <tr>
       <td>价格:</td>
       	<td>{{if $product.show_price==1}}{{substr($product.price/100/12,0,6)}}元/月{{else}}{{$product.price/100}}元/年{{/if}}</td>
        </tr>
        
	    <tr>
	    <td class="td_hg" colspan="2" align="center">
		<input type="button" onClick="check_register()" value="确定"></td>
        </tr>
    </table>
	</div>
    </form>
  </div>
