{{include file='common/head2.html'}}
<script language="javascript">
function show(url) 
{ 
	window.open(url,'','height=100,width=250,resize=no,scrollbars=no,toolsbar=no,top=200,left=200');
}
function check_user()
{
	show('?c=product&a=check&product_type=vhost&name='+document.vhostform.name.value);
}

</script>
<div align="center">
  <form name='vhostform' action="?c=product&a=sell&product_id={{$product.id}}&product_type=vhost" method="post">
<div class="head_block tb_wid">&nbsp;购买虚拟主机产品</div>
<div class="block tb_wid">
<table id="table_2" cellpadding="0" cellspacing="1">
      <tr>
        <td class="td_bgc right_2">产品名称</td>
        <td class="td_bgc">{{$product.name}}</td>
        </tr>
      <tr>
        <td class="td_bgc right_2">FTP用户名：</td>
        <td class="td_bgc"><input name="name" type="text" id='tb_wid3'>
		    <input type="button" name="Submit" value="检测用户名" onClick="check_user()"></td>
      </tr>
      <tr>
        <td class="td_bgc right_2">密码：</td>
        <td class="td_bgc"><input name="passwd" type="password" id='tb_wid3'></td>
      </tr>
	  <tr>
        <td class="td_bgc right_2">确认密码:</td>
        <td class="td_bgc"><input name="passwd2" type="password" id='tb_wid3'></td>
	  </tr>
	  <tr>
        <td class="td_bgc right_2">购买时间:</td>
        <td class="td_bgc"><input type=radio name=month value=12 checked>1年
			<input type=radio name=month value=24>2年
			<input type=radio name=month value=36>3年</td>
	  </tr>
	  <tr>
        <td class="td_bgc right_2">空间大小:</td>
        <td class="td_bgc">{{$product.web_quota}}M</td>
	  </tr>
	  <tr>
        <td class="td_bgc right_2">数据库大小:</td>
        <td class="td_bgc">{{$product.db_quota}}M</td>
	  </tr>
	  <tr>
        <td class="td_bgc right_2">价格</td>
        <td class="td_bgc">{{$product.price/100}}元/年</td>
        </tr>
	    <tr>
	    <td class="td_bgc td_hg" colspan="2" align="center">
		<input type="submit" value="确定"></td>
        </tr>
    </table>
    </form>
  </div>
  </div>

