<div id="container">
<div class="topimg">当前位置：我的虚拟主机</div>
<div class="topimg pal1">共计 {{$sum}} 条记录</div>
  <div id="main" class="wid">
    <table cellpadding=0 cellspacing=1 id="table">
      <tr id="ttitle">
        <td  bgcolor='#efefef' class='color01 right'>操作</td>
	   <td  bgcolor='#efefef' class='color01 right'>ftp用户名</td>
	   <td bgcolor='#efefef' class='color01 right'>产品</td>
	   	<td bgcolor='#efefef' class='color01 right'>购买时间</td>
		<td  bgcolor='#efefef' class='color01 right'>过期时间</td>
		<td bgcolor='#efefef' class='color01 right'>状态</td>
      </tr>
	  {{foreach from=$list item=row}}
      <tr>
        <td class="right"> [<a href="?c=vhostproduct&a=editProductForm&id={{$row.id}}" title="更改信息">续费</a>][升级][<a href="?c=vhostproduct&a=impLogin&name={{$row.name}}" >管理</a>]</td>
        <td class="right">{{$row.name}}</td>
		<td class="right">{{$row.product_id}}</td>
		<td class="right">{{$row.create_time}}</td>
		<td class="right">{{$row.expire_time}}</td>
		<td class="right">&nbsp;</td>
      </tr>
	  {{/foreach}}
    </table>
    <div align="left">
	</div>
  </div>
</div>
