<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<title>主机列表</title>
<link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
<div class="topimg">当前位置：用户管理 -> 用户信息 -> <a href="/?c=user&a=edit&username=<%$row.username%>">返回修改</a></div>
  <div id="main" class="wid">
    <table cellpadding=0 cellspacing=1 id="table">
	<%foreach from=$row item=value key=key%>
	 <%if $key!='passwd'%>
      <tr>
        <td class='color01 right' bgcolor='#efefef'><%$key%></td>
        <td class='color01 right' bgcolor='#efefef'><%$value%></td>
      </tr>
	  <%/if%>
	 <%/foreach%>
    </table>
  </div>
</div>
</body>
</html>
