{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<div id="container">
<div class="topimg">当前位置：主机管理 -> 增加主机</div>
  <div id="main" class="wid" align="center">
  <form name='nodeform' action="?c=nodes&a={{$action}}&oldname={{$node.name}}" method="post">
    <table height="165">
		<tbody>
		<tr>
        <td class='color01 right' bgcolor='#efefef'>名字</td>
        <td><input type='text' name='name' id='name' value="{{$node.name}}" onBlur="checkName();"
        {{if $action=="edit"}}
        	readonly
        {{/if}}
        />
          &nbsp;<font color=red>*必填</font></td>
      </tr>
			<tr>
			 <td class="color01 right" bgcolor="#efefef">主机</td>
			 <td><input name="host" type="text" id="host" value="{{$node.host}}">
		      <font color=red>*必填</font></td>
			</tr>
			<tr>
			 <td class="color01 right" bgcolor="#efefef">管理端口</td>
			 <td><input name="port" value="{{$node.port}}" type="text">
			   <font color=red>*必填</font></td>
			</tr>
			<tr>
                <td class="color01 right" bgcolor="#efefef">用户名</td>
				<td><input name="user" type="text" id="user" value="{{$node.user}}">
				   <font color=red>*必填</font></td>
		  </tr>
		  	  	 	  		  			  
		  	  	 	  		  			<tr>
			 <td class="color01 right" bgcolor="#efefef">密码</td>

			 <td><input name="passwd" type="text" id="passwd" value="{{$node.passwd}}">
			   <font color=red>*必填</font></td>
			</tr>
		  	  	 	   <tr>
        <td class="color01 right" bgcolor="#efefef"></td>
        <td>
	 <button type="submit">确认提交</button>  </td>
      </tr>
    </tbody></table>
  </form>
  </div>
</div>
</body>
{{include file='common/foot.html'}}