{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
<div class="topimg pal1">共计 {{$sum}} 条记录</div>
  <div id="main" class="wid">
    <table cellpadding=0 cellspacing=1 id="table">
      <tr id="ttitle">
        <td class='color01 right' bgcolor='#efefef'>用户名</td>
        <td class='color01 right' bgcolor='#efefef'>操作</td>
      </tr>
	  {{foreach from=$list item=row}}
      <tr>
        <td class="right">{{$row.username}}</td>
        <td>
		[<a href="javascript:if(confirm('确定删除{{$row.username}}?')){location='?c=adminuser&a=del&username={{$row.username}}';}" title="删除用户">删除用户</a>]
		</td>
      </tr>
	  {{/foreach}}
    </table>
    <div align="left">
	</div>
  </div>
</div>
</body>
</html>
