{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
<div class="padd2 mar_top">
<div class="topimg">共计 {{$sum}} 条记录&nbsp;<a href="?c=adminuser&a=add" target='main'><b>[增加管理员]</b></a></div>
</div>
<div align="center">
  <div class="tb_wid">
    <table cellpadding=0 cellspacing=1 id="table">
      <tr id="ttitle">
        <td class='color01 right' bgcolor='#efefef'>用户名</td>
        <td class='color01 right' bgcolor='#efefef'>操作</td>
      </tr>
	  {{foreach from=$list item=row}}
      <tr>
        <td class="right_2">{{$row.username}}</td>
        <td  class="right_2">
		[<a href="javascript:if(confirm('确定删除{{$row.username}}?')){location='?c=adminuser&a=del&username={{$row.username}}';}" title="删除用户">删除用户</a>]
		</td>
      </tr>
	  {{/foreach}}
    </table>
  </div>
</div>
</div>
</body>
</html>
