/* 定义全局变量 */
body {
scrollbar-face-color:#DEF2FC;
scrollbar-arrow-color:#000000;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-shadow-color:#FFFFFF;
scrollbar-darkshadow-color:#FFFFFF;
scrollbar-track-color:#FFFFFF;
margin: 0px;
font-size:12px;
line-height:150%;
background:#F6F4F5;
font-family: "宋体";
}
a:link {color: #003366;text-decoration: none;}
a:visited {color: #003366;text-decoration: none;}
a:hover {color: #2583EA;text-decoration: underline;}
a:active {color: #2583EA;text-decoration: none;}
td {
font-size:12px;
}
/* 定义最外层样式 */
#container {
height:100%;
width:100%;
text-align:center;
background:#F6F4F5;
padding-top:10px;
}
/* 定义显示所在位置层样式 */
.topimg {
text-align:left;
background:url(xt.jpg) 10px no-repeat;
line-height:20px;
padding-left:36px;
}
#main,#main1,#main2,#main3,#main4,#main5 {
margin:15px auto;
}
#main6,#main7 {
margin-top:15px;
margin-bottom:0;
margin-left:auto;
margin-right:auto;
}
.title {
border:1px solid #6CA3E2;
height:20px;
border-bottom:none;
margin-top:15px;
background:#4298e1;
}
.title1 {
border:1px solid #6CA3E2;
height:20px;
border-bottom:none;
margin-top:0px;
background:#4298e1;
}
h1 {
font-size:12px;
color:#036;
text-align:center;
margin:2px 0 1px 0;
background:#c0dcff;
}
#table,#table1,#table2,#table3,#table4,#table5 {
background:#6CA3E2;
width:100%;
}
#table td,#table1 td,#table2 td,#table3 td,#table4 td,#table5 td {
line-height:26px;
background:#e7f3ff;
}
#table td.tdcolor{
background:#ffffff;
}
#bottom {
background:#c0dcff;
height:7px;
border:1px solid #4298e1;
border-top:none;
overflow:hidden;
}
.left {
width:100px;
text-align:right;
padding-right:10px;
}
.left1 {
text-align:right;
padding-right:10px;
}
.left2{
width:16%;
text-align:left;
padding-left:10px;
}
.left3 {
width:25%;
text-align:left;
padding-left:10px;
}
.left4 {
width:120px;
text-align:right;
padding-right:10px;
}
.right {
text-align:left;
padding-left:10px;
}
.input {
font-size:12px;
color: #003366;
height:20px;
border:1px solid #4298e1 ;
}
.form {
height:17px;
color: #043B9C;
font-size: 12px;
}
.pal {
margin-top:3px;
}
.pal1 {
margin-top:20px;
}
.pal2 {
padding-left:10px;
}
.pal3 {
padding-top:6px;
padding-bottom:6px;
}
.button {
font-size:12px;
height:20px;
background:#E3EFFD;
border:1px solid #4CA2EF;
padding-top:2px;
margin-left:18px;
bottom:4px;
}
.button1 {
font-size:12px;
height:20px;
background:#E3EFFD;
border:1px solid #4CA2EF;
padding-top:2px;
}
.onetd {
margin-top:40px;
border:1px solid #4298e1;
background:#e7f3ff;
}
.wid {
width:85%;
}
.wid1 {
width:40%;
}
.wid2 {
width:25%;
}
.wid3 {
width:60%;
}
.wid4 {
width:55%;
}
.wid5 {
width:75%;
}
.wid6 {
width:20%;
}
.wid7 {
width:95%;
}
.wid8 {
width:30%;
}
.wid9 {
width:80%;
}
.wid10 {
width:95%;
}
#line2-btn,#line2-btn1 {
width:100%;
text-align:center;
}
.hei {
height:60px;
}
.hei1 {
height:50px;
}
.hei2 {
height:30px;
}
#lx,#lx1 {
clear:right;
width:100%;
}
.none {
width:100%;
height:10px;
}
.none1 {
height:9px;
overflow:hidden;
}
.sel {
float:left;
margin-left:10px;
line-height:20px;
display:inline;
}
#img2 {
margin:0 50px;
text-align:left;
}
#img2 li {
list-style:none;
text-indent:24px !important;
text-indent:8px;
}
.txt {
color:#f00;
}
.txt1 {
color:#900;
}
textarea {
font-size:12px;
margin-bottom: 5px;
}
#bottom1 {
width:95%;
height:30px;
border:1px solid #4298e1;
background:#e7f3ff;
}
#image {
margin-left:16px;
margin-top:30px;
}
#login {
margin-top:20px;
}
#login ul {
width:100%;
text-align:left;
padding-top:36px;
margin-left:20px;
}
#login li {
list-style:none;
height:22px;
width:100%;
text-align:left;
}
#log1 {
background:url(/images/ulogin.gif) left 10px no-repeat;
}
#log2 {
background:url(/images/uulogin.gif) left 10px no-repeat;
}
#log3 {
background:url(/images/ymcx.gif) left 10px no-repeat;
}
hr {
height:1px;
width:100%;
color:#4298e1;
}
#ttitle td {
height:26px;
color:#e7f3ff;
background:#4298e1;
}
.tttd1{
line-height:26px;
list-style:none;
background:#C0DCFF !important;
font-weight:normal;
margin:0;
text-align:left;
width:200;
}
#tttd {
background:#C0DCFF !important;
}
#tttd h1 {
line-height:26px;
list-style:none;
background:#C0DCFF; 
font-weight:normal;
margin:0;
text-align:left;
padding-left:6px;
}
#letter {
	text-align:left;
	margin-left:75px;
}
.mserform {
float:left;
padding:5px;
}

.color01 a {color: #fff;}
.color01 a:visited {color: #fff;}
.color01 a:hover {color: red;text-decoration: underline;}