{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：信息管理 --> 用户提问</div>
		<table class="table_main2 mar_main" cellpadding="0" cellspacing="1">
			<form action='?c=question&a=pageQuestion' method='post'>
			<tr>
				<td colspan="8" class="bg_main hg_main">
					<b>用户提问</b>
					<select name='sortname' onChange="submit()">
					 <option value='2' {{if $sortname==2}}selected{{/if}}>全部</option>
					 <option value='1' {{if $sortname==1}}selected{{/if}}>未回复</option>
					 </select>
				</td>
			</tr>
			</form>
			<tr class="bg_yellow">
				<td>操作</td>		
				<td>序号</td>
				<td>用户名</td>
				<td>标题</td>
				<td>提问时间</td>
				<td>回复时间</td>
				<td>管理员</td>
				<td>状态</td>
			</tr>
				{{foreach from=$list item=row}}
			<tr class="main_bgcolor" onMouseMove="tr_onMouseOver(this)" onMouseOut="tr_onMouseOut(this)">
				<td>[<a href='?c=question&a=getQuestion&id={{$row.id}}'>回复</a>]</td>
				<td>{{$row.id}}</td>
				<td><a href='?c=user&a=listuser&username={{$row.username}}'>{{$row.username}}</a></td>
				<td title="{{$row.body}}"><a href='?c=question&a=getQuestion&id={{$row.id}}'>{{substr($row.title,0,30)}}</a></td>
				<td>{{$row.add_time}}</td>
				<td>{{$row.reply_time}}</td>
				<td>{{$row.admin}}</td>
				<td>{{if $row.status==1}}已回复{{else}} <font color=red>未回复</font>{{/if}}</td>
			</tr>
				{{/foreach}}
			<tr>
				<td colspan="8" class="bg_yellow" align="right">
					{{if $page>1}}
					<a href='?c=question&a=pageQuestion&sortname={{$smarty.request.sortname}}&page=0'>首页</a> 
					<a href='?c=question&a=pageQuestion&sortname={{$smarty.request.sortname}}&page={{$page-1}}'>上一页</a> 
					{{else}}
					首页 上一页 
					{{/if}}
					{{if $page!=$total_page}} 
					<a href='?c=question&a=pageQuestion&sortname={{$smarty.request.sortname}}&page={{$page+1}}'>下一页</a>
					<a href='?c=question&a=pageQuestion&sortname={{$smarty.request.sortname}}&page={{$total_page}}'>尾页</a>
					{{else}}下一页 尾页
					{{/if}} 
					{{$page}}/{{$total_page}}&nbsp;
					共计{{$count}}记录&nbsp;
				</td>
			</tr>
	  </table>
	</div>
</div>
</body>
