<script language="javascript">
function checkPassword()
{
	if(frm.passwd.value==""){
		alert('新密码不能为空');
		return;
	}
	if(frm.passwd.value!=frm.passwd2.value){
		alert('两次密码不相等');
		return;
	}
	frm.submit();
}
</script>
<form name='frm' action="?c=user&a=changePassword" method="post">
<div class="right" align="center">
<div class="wid_ri r_mar" ><img src="{{$STATIC}}style/use_cio.jpg" width="750" height="85"  border="0"/></div>
<div class="wid_ri r_mar" align="right">
	<table id="table_ri" cellpadding="0" cellspacing="1">
	 	<tr><td colspan="2">修改密码</td></tr>
			<tr>
				<td>原密码：</td>
				<td><input type='password' name='oldpasswd' ></td>
			</tr>
			<tr>
				<td>新密码：</td>
				<td><input type='password' name='passwd' ></td>
			</tr>
			<tr>
				<td>确认新密码：</td>
				<td><input type='password' name='passwd2' ></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="button" onClick="checkPassword()" value="确定"></td>
			</tr>
		</table>
	</div>
</div>
</form>
