<body style="overflow-x:hidden; overflow-y:auto;">
<link rel="stylesheet" rev="stylesheet" href="{{$STATIC}}style/left.css" type="text/css" media="all" />
<link rel="stylesheet" rev="stylesheet" href="{{$STATIC}}style/public.css" type="text/css" media="all" />
<table cellpadding="0" cellspacing="0" class="lefttd">
	<tr>
		<td>
		<script type="text/javascript">
		function SwitchMenu(obj,sty)
		{
		}
		</script>
		<div id="masterdiv">
			<h1 id="m2" onClick="SwitchMenu('sub2','m2')" class="menu l_white">
			  <b>帐户管理</b>
			</h1>
			<div class="u_left_box">
			<ul id="sub5">
				<li><a href="?c=user&a=index" target="{{$target}}">帐户信息</a></li>
				<li><a href="?c=user&a=changeForm" target="{{$target}}">修改资料</a></li>
				<li><a href="?c=user&a=changePasswordForm" target="{{$target}}">修改密码</a></li>
				<li><a href="?c=session&a=logout" target="_top">退出</a></li>
			</ul>
			</div>
			
			<h1 id="m4" onClick="SwitchMenu('sub4','m4')" class="menu l_white"><b>财务管理</b></h1>
			<div class="u_left_box">
			<ul class="submenu" id="sub4" >
				<li><a href="?c=money&a=addFrom" target="{{$target}}">在线充值</a></li>	
				<li><a href="?c=money&a=moneyin" target="{{$target}}">充值记录</a></li>
				<li><a href="?c=money&a=moneyout" target="{{$target}}" >消费记录</a></li>
				</ul>
				</div>
					<h1 id="m6" onClick="SwitchMenu('sub6','m6')" class="menu l_white">	
				<b>我的产品</b>	 
			</h1>
			<div class="u_left_box">
			<ul class="submenu" id="sub6" >
				<li><a href="?c=vhostproduct&a=pageVhostByuser" target="{{$target}}">我的虚拟主机</a></li>
			   	<li><a href="?c=user&a=pageListMyMproductorder" target="{{$target}}">非自动化产品</a></li>
				<li><a href="?c=question&a=pageByuser" target="{{$target}}">我的提问</a></li>
			 </ul>
			 </div>
		</div>
		</td>
	</tr>
</table>
</body>
