{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">


<div align="center">
	<form name='nodeform' action="?c=mproductorder&a=addMproductorder&product_id={{$id}}" method="post">
		<div class="head_block tb_wid2">&nbsp;申请订单</div>
		<div class="block tb_wid2">
			<table id="table_2" cellpadding="0" cellspacing="1">
			
				<tr>
					<td class="td_bgc right_2">产品名称：</td>
					<td class="td_bgc right_2">{{$product_name}}
					</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">我的补充说明：</td>
					<td class="td_bgc right_2">
						<textarea name='client_msg' cols='40' rows='5'>{{$mproductorder.client_msg}}</textarea>
					</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">购买时限：</td>
					<td class="td_bgc right_2">
						{{for $i=0;$i< count($months);$i++}}
						<input type='radio' name="month" value="{{$months[$i][0]}}"  >{{$months[$i][1]}}&nbsp;{{substr($months[$i][2],0,6)}}元
						{{/for}}
					</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc td_hg" colspan="2" align="center"><input type="submit" value="确认提交"></td>
				</tr>
	
			</table>
		</div>
	</form>
</div>
{{include file='common/foot.html'}}	