<form name='vhostform' action="?c=mproductorder&a=renewMproductorder&id={{$id}}" method="post">
<div class="right" align="center">
	<div class="wid_ri r_mar" ><img src="{{$STATIC}}style/use_cio.jpg" width="750" height="85"  border="0"/></div>
	<div class="wid_ri r_mar" align="right">
		<table id="table_ri" cellpadding="0" cellspacing="1">
			<tr><td colspan="2">业务续费</td></tr>
			<tr>
				<td class="td_bgc right_2">业务名称</td>
				<td class="td_bgc right_2">{{$mproductorder.product_name}}</td>
			</tr>
			<tr>
				<td class="td_bgc right_2">续费时间:</td>
				<td class="td_bgc right_2">
					{{if $months[0]}}
					<input type='radio' name='month' value='{{$months[0][0]}}' >{{$months[0][1]}}&nbsp;&nbsp;{{substr($months[0][2],0,6)}}元
					{{/if}}
					{{for $i=1;$i< 4;$i++}}
					<input type='radio' name='month' value='{{$months[$i][0]}}' {{if $months[$i][0]==12}}checked{{/if}}>
						{{$months[$i][1]}}&nbsp;&nbsp;{{substr($months[$i][2],0,6)}}元
					
					{{/for}}
				</td>
			</tr>	 
			<tr>
				<td class="td_bgc td_hg" colspan="2" align="center">
				<input type="submit" value="确定">
			</td>
			</tr>
		</table>
	</div>
</div>
</form>


