{{include file='common/head.html'}}
<div align="center">
		<div class="wid_ri r_mar">&nbsp;<h2>查看订单信息</h2></div>
		<div class="wid_ri r_mar" >
			<table id="table_ri" cellpadding="0" cellspacing="1">
			
				<tr>
					<td >产品名称：</td>
					<td >{{$mproductorder.product_name}}
					</td>
				</tr>
				
				<tr>
					<td >我的附注：</td>
					<td >{{$mproductorder.client_msg}}
					</td>
				</tr>
				
				{{if $mproductorder.admin_msg}}
				<tr>
					<td class="td_bgc right_2">管理信息：</td>
					<td class="td_bgc right_2">{{$mproductorder.admin_msg}}</td>
				</tr>
				{{/if}}
				
				{{if $mproductorder.create_time}}
				<tr>
					<td class="td_bgc right_2">提交时间：</td>
					<td class="td_bgc right_2">{{$mproductorder.create_time}}</td>
				</tr>
				{{/if}}
				
				{{if $mproductorder.expire_time}}
				<tr>
					<td class="td_bgc right_2">过期时间：</td>
					<td class="td_bgc right_2">{{$mproductorder.expire_time}}</td>
				</tr>
				{{/if}}
			
				<tr>
					<td class="td_bgc right_2">订单状态：</td>
					<td class="td_bgc right_2">{{if $mproductorder.status==0}}申请中{{else}}已拔付{{/if}}</td>
				</tr>
				
				
				<tr>
					<td  colspan="2" align="center">
					<h2><a href="?c=mproductorder&a=pageListMyMproductorder">返回</a></h2>
					</td>
				</tr>
				
	
			</table>
		</div>
</div>
{{include file='common/foot.html'}}	