{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<div align="center">
	
		<div class="head_block tb_wid2">&nbsp;查看订单信息</div>
		<div class="block tb_wid2">
			<table id="table_2" cellpadding="0" cellspacing="1">
			
				<tr>
					<td class="td_bgc right_2">产品名称：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].product_name}}
					</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">我的补充说明：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].client_msg}}
					</td>
				</tr>
				
				{{if $mproductorder[0].admin_msg}}
				<tr>
					<td class="td_bgc right_2">管理员回复：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].admin_msg}}</td>
				</tr>
				{{/if}}
				
				<tr>
					<td class="td_bgc right_2">购买时间：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].last_month}}个月</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">金额：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].last_price}}元</td>
				</tr>
				
				
				{{if $mproductorder[0].create_time}}
				<tr>
					<td class="td_bgc right_2">订单提交时间：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].create_time}}</td>
				</tr>
				{{/if}}
				
				{{if $mproductorder[0].expire_time}}
				<tr>
					<td class="td_bgc right_2">订单过期时间：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].expire_time}}</td>
				</tr>
				{{/if}}
				{{if $mproductorder[0].status}}
				<tr>
					<td class="td_bgc right_2">订单状态：</td>
					<td class="td_bgc right_2">{{$mproductorder[0].status}}</td>
				</tr>
				{{/if}}
				
				<tr>
					<td class="td_bgc td_hg" colspan="2" align="center"><a href="?c=user&a=pageListMyMproductorder"><h2>返回</h2></a></td>
				</tr>
	
			</table>
		</div>
</div>
{{include file='common/foot.html'}}	