{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<div align="center">
	
		<div class="head_block tb_wid2">&nbsp;查看订单信息</div>
		<div class="block tb_wid2">
			<table id="table_2" cellpadding="0" cellspacing="1">
			
				<tr>
					<td class="td_bgc right_2">产品名称：</td>
					<td class="td_bgc right_2">{{$mproductorder.product_name}}
					</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">附注：</td>
					<td class="td_bgc right_2">{{$mproductorder.client_msg}}
					</td>
				</tr>
				
				{{if $mproductorder.admin_msg}}
				<tr>
					<td class="td_bgc right_2">信息：</td>
					<td class="td_bgc right_2">{{$mproductorder.admin_msg}}</td>
				</tr>
				{{/if}}
				
			<!-- 
				<tr>
					<td class="td_bgc right_2">购买时间：</td>
					<td class="td_bgc right_2">{{$mproductorder.month}}个月</td>
				</tr>
				
				
				<tr>
					<td class="td_bgc right_2">金额：</td>
					<td class="td_bgc right_2">{{$mproductorder.price}}元</td>
				</tr>
			 -->	
				
				{{if $mproductorder.create_time}}
				<tr>
					<td class="td_bgc right_2">提交时间：</td>
					<td class="td_bgc right_2">{{$mproductorder.create_time}}</td>
				</tr>
				{{/if}}
				
				{{if $mproductorder.expire_time}}
				<tr>
					<td class="td_bgc right_2">过期时间：</td>
					<td class="td_bgc right_2">{{$mproductorder.expire_time}}</td>
				</tr>
				{{/if}}
				{{if $mproductorder.status}}
				<tr>
					<td class="td_bgc right_2">状态：</td>
					<td class="td_bgc right_2">{{$mproductorder.status}}</td>
				</tr>
				{{/if}}
				
				<tr>
					<td class="td_bgc td_hg" colspan="2" align="center"><a href="?c=user&a=pageListMyMproductorder"><h2>返回</h2></a></td>
				</tr>
	
			</table>
		</div>
</div>
{{include file='common/foot.html'}}	