<div class="right" align="center">
<!--  
<div class="wid_ri r_mar" ><img src="{{$STATIC}}style/yfk_cio.jpg" width="750" height="85"  border="0"/></div>
-->
<div class="wid_ri r_mar" align="right">
	<div class="r_mar_top" align="right">
		{{if $page>1}}
		<a href='?c=money&a=moneyout&page=0'>首页</a> 
		<a href='?c=money&a=moneyout&page={{$page-1}}'>上一页</a> 
		{{else}}
		首页 上一页 
		{{/if}}
		{{if $page!=$total_page}} 
		<a href='?c=money&a=moneyout&page={{$page+1}}'>下一页</a>
		<a href='?c=money&a=moneyout&page={{$total_page}}'>尾页</a>
		{{else}}下一页 尾页
		{{/if}} 
		{{$page}}/{{$total_page}}&nbsp;
		共计{{$count}}记录
	</div>
	<table id="table_ri" cellpadding="0" cellspacing="1">
		<tr><td>消费时间</td>	<td>消费金额(元)</td><td>备注</td></tr>
			{{foreach from=$list item=row}}
			<tr><td>{{$row.add_time}}</td><td>{{$row.money/100}}元</td><td>{{$row.mem}}</td></tr>
			{{/foreach}}
  </table>
</div>
</div>

