{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
	<div align="center">
		<div class="mar_top tb_wid5" align="right">
			{{if $page>1}}
			<a href='?c=money&a=pageMoneyin&page=0'>首页</a> 
			<a href='?c=money&a=pageMoneyin&page={{$page-1}}'>上一页</a> 
			{{else}}
			首页 上一页 
			{{/if}}
			{{if $page!=$total_page}} 
			<a href='?c=money&a=pageMoneyin&page={{$page+1}}'>下一页</a>
			<a href='?c=money&a=pageMoneyin&page={{$total_page}}'>尾页</a>
			{{else}}下一页 尾页
			{{/if}} 
			{{$page}}/{{$total_page}}&nbsp;
			共计{{$count}}记录
		</div>
		<div class="block tb_wid5">
			<table id="table" border="0" cellpadding="0" cellspacing="1">
				<tr id="ttitle">
					<td class="right_2">操作</td>	
					<td class="right_2">序号</td>
					<td class="right_2">会员账号</td>
					<td class="right_2">充值金额</td>
					<td class="right_2">充值开始时间</td>
					<td class="right_2">支付成功时间</td>	
					<td class="right_2">状态</td>	
					<td class="right_2">支付方式</td>	
					</tr>
					{{foreach from=$list item=row}}
				<tr>
					<td class="right_2">{{if $row.status==0}}
						[<a href="javascript:if(confirm('确认付款{{$row.name}}?')){location='?c=money&a=manPayReturn&id={{$row.id}}';}" title="确认">确认</a>]{{/if}}
					</td>
					<td class="right_2">{{$row.id}}</td>
					<td class="right_2">{{$row.username}}</td>
					<td class="right_2">{{$row.money/100}}元</td>
					<td class="right_2">{{$row.start_time}}</td>
					<td class="right_2">{{$row.end_time}}</td>
					<td class="right_2">{{if $row.status==1}}成功{{else}} <font color=red>失败</font>{{/if}}</td>
					<td class="right_2">{{if $row.gw==1}}支付宝{{else}}网银在线{{/if}}</td>
					</tr>
					{{/foreach}}
		  </table>
		</div>
	
	</div>
</div>
</body>

