<div class="right" align="center">
<div>
  <table width="750" border="0" cellpadding="0" cellspacing="0" align="center">
  	  <tr>
		<td colspan="2" background="{{$STATIC}}images/nav_bg.jpg" class="right_hg right fontcolor">
			当前位置 : <a href="/">首页</a> >> 产品详请
		</td>
	 </tr>
</table>
<div>
<div class="wid_ri r_mar" align="center">
<table id="table_shell" cellpadding="0" cellspacing="1">
	 <tr><td colspan="2" class="red"><b>{{$mproductinfo[0].name}}产品详请</b></td></tr>
      <tr>
        <td>产品名称:</td>
        <td class="tb_wid2">{{$mproductinfo[0].name}}</td>
      </tr>

	  <tr>
        <td>产品说明:</td>
        <td>{{$mproductinfo[0].describe}}</td>
	  </tr>
	  
       <tr>
       <td>价格:</td>
       	<td>{{$mproductinfo[0].price/100}}元/年</td>
        </tr>
        
	    <tr>
	    <td class="td_hg" colspan="2" align="center">
		<a href="?c=user&a=addMproductorderFrom&mproduct_id={{$mproductinfo[0].id}}"><img src="{{$STATIC}}images/r_btn01.jpg" border="0"/></a></td>
        </tr>
    </table>
	</div>
    </form>
  </div>
