{{include file='common/head.html'}}
<body leftmargin="0" topmargin="0" bgcolor="#ffffff" text="#000000">
<div align="center">
	<form name='nodeform' action="?c=mproductgroup&a=addMproductgroup&id={{$mproductgroup[0].id}}" method="post">
		<div class="head_block tb_wid2">&nbsp;{{if $edit}}修改产品{{else}}增加产品{{/if}}</div>
		<div class="block tb_wid2">
			<table id="table_2" cellpadding="0" cellspacing="1">
				{{if $edit}}
				<tr>
					<td class="td_bgc right_2">产品组id：</td>
					<td class="td_bgc right_2 tb_wid2">{{$mproductgroup[0].id}}</td>
				</tr>
				{{/if}}
				<tr>
					<td class="td_bgc right_2">产品组名称：</td>
					<td class="td_bgc right_2"><input name='name' type='text'  value="{{$mproductgroup[0].name}}" size="40">
					</td>
				</tr>
				
				<tr>
					<td class="td_bgc right_2">产品详情：</td>
					<td class="td_bgc right_2"><textarea name="describe"  cols='50' rows='35'>{{$mproductgroup[0].describe}} </textarea>
					</td>
				</tr>
				
				<tr>
					<td class="td_bgc td_hg" colspan="2" align="center"><input type="submit" value="确认提交"></td>
				</tr>
	
			</table>
		</div>
	</form>
</div>
{{include file='common/foot.html'}}	