{{include file='common/head.html'}}
<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div id="container">
	<div align="center">
		<div class="mar_top tb_wid5" align="right">
		<a href="?c=mproductgroup&a=addMproductgroupFrom" target='main'>增加业务</a>
			{{if $page>1}}
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&&page=0'>首页</a> 
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$page-1}}'>上一页</a> 
			{{else}}
			首页 上一页 
			{{/if}}
			{{if $page!=$total_page}} 
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$page+1}}'>下一页</a>
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$total_page}}'>尾页</a>
			{{else}}下一页 尾页
			{{/if}} 
			{{$page}}/{{$total_page}}&nbsp;
			共计{{$count}}记录
		</div>
		<div class="block tb_wid5">
				<table id="table" border="0" cellpadding="0" cellspacing="1">
			
					<tr id="ttitle">
					<td class="right_2">操作</td>	
					<td class="right_2">业务ID</td>
					<td class="right_2">业务名称</td>
					<td class="right_2">业务详情</td>
					</tr>
					{{foreach from=$list item=row}}
					
					<tr>
					<td class="right_2">
						[<a href="javascript:if(confirm('确定?')){location='?c=mproductgroup&a=delMproductgroup&id={{$row.id}}';}" >删除</a>]
						[<a href="?c=mproductgroup&a=addMproductgroupFrom&id={{$row.id}}" >更改</a>]
					</td>
					<td class="right_2">{{$row.id}}</td>
					<td class="right_2">{{$row.name}}</td>
					<td class="right_2">{{$row.describe}}</td>
					</tr>
					{{/foreach}}
		  		</table>
		</div>
		
		<div class="mar_top tb_wid5" align="right">
			{{if $page>1}}
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&&page=0'>首页</a> 
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$page-1}}'>上一页</a> 
			{{else}}
			首页 上一页 
			{{/if}}
			{{if $page!=$total_page}} 
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$page+1}}'>下一页</a>
			<a href='?c=mproductgroup&a=pageListMproductgroup&order={{$order}}&page={{$total_page}}'>尾页</a>
			{{else}}下一页 尾页
			{{/if}} 
			{{$page}}/{{$total_page}}&nbsp;
			共计{{$count}}记录
		</div>
		
	</div>
</div>
</body>
